- @competition.uses_volunteers.each do |role|
  = render "manage_volunteer_type", role: role, volunteers: User.with_role(role, @competition).order(:email), competition: @competition

%hr
If the volunteer you need isn't listed, #{link_to "Manage Data Entry Volunteers", competition_data_entry_volunteers_path(@competition)}
%br
