%h1 Registration

.row
  .small-12.columns
    The Unicycling Data Application (UDA) can be set up to gather information
    about registrations.

%h2 Major Features

%ul
  %li Custom event list
  %li Custom Information pages support
  %li Discount Coupons
  %li Automatic Price Increases over time (e.g. Early Registration)
  %li Multi-language support
  %li Paypal Integration
  %li= link_to "Standard Skill Routine Entry", standard_skill_example_convention_choices_path
