%h1 Standard Skill Routine Entry

.row
  .small-12.columns
    Enable the advanced feature of "Standard Skill" on an Event, and any user
    who signs up for that event will be presented with the ability to enter
    their standard skill routine.

  .small-12.columns
    The Standard Skill Routine Entry screen enforces that the user does not
    enter the same skill number multiple times, etc

  = image_tag "screenshots/standard_skill_routine.png", class: "screenshot"

.row
  .small-12.columns
    Admin users have the ability to view & download the routine files for each competitor.
