%h1 Event Organizers

.row
  .small-12.columns
    Do you want to host your Unicycling event Registration and Scoring here?

%h2 Features

%p
  The IUF Unicycling Data Application (UDA) has 2 major features:

%h3 Registration

%p
  Through a series of configurations, you can configure which events you want
  to allow your registrants to select, and how much money you want to charge.

= link_to "More Details about Registration", example_convention_choices_path

%h3 Scoring

%p
  The system also has a set of scoring features, which can be used to configure
  Age Groups, Start Lists, Judges, and Results.

%p
  You can print results, labels (for awards), and post results online (PDF)

= link_to "More Details about Scoring", example_competition_choices_path

%hr

%h2 Are you Interested?

%p
  If you are interested, please fill out the "feedback" form in the "Help" page
  with your e-mail address, and a brief description of your event. We will
  contact you to help set things up and ensure that you have a successful
  registration.

