%h1 Existing Conventions

%table
  %thead
    %tr
      %th Subdomain
      %th Description
      %th Created At
  %tbody
    - Tenant.all.each do |tenant|
      %tr
        %td= link_to tenant.subdomain, tenant.base_url
        %td= tenant.description
        %td= l tenant.created_at

%hr

= link_to "New Convention", new_tenant_path, class: "button"
