%h1 Existing Conventions

%table
  %thead
    %tr
      %th Subdomain
      %th Description
      %th Created At
  %tbody
    - Tenant.all.each do |tenant|
      %tr
        %td= link_to tenant.subdomain, tenant.base_url
        %td= tenant.description
        %td= l tenant.created_at

%hr

%h2 Create a new Convention

= render partial: "form"
