<h1><%= @event_category %> - Sign Ups - (Count: <%= @event_category.num_competitors %>)</h1>

<%= render :partial => "sign_ups", locals: {:registrants => @event_category.signed_up_registrants, :event => @event_category.event} %>
