<h1><%= @event_category %> - Sign Ups - (Count: <%= @event_category.num_signed_up_registrants %>)</h1>

<%= render :partial => "sign_ups", locals: {:sign_ups => @event_category.registrant_event_sign_ups.signed_up, :event => @event_category.event} %>
