<h1><%= @event_category %> - Sign Ups - (Count: <%= @event_category.num_competitors %>)</h1>

<% # XXX this should not use @event 
%>
<% @event = @event_category.event %>
<%= render :partial => "sign_ups" %>
