<h1><%= @event %> Report</h1>

<% @event.event_categories.each do |ecat| %>
  <%= render :partial => "display_category", :locals => {
    :age_group_type => ecat.age_group_type, 
    :event_category => ecat,
    :registrant_event_sign_ups => ecat.registrant_event_sign_ups } %>
  <% end %>
