<h1>Event Sign Up List</h1>

<% @event.event_categories.each do |ecat| %>
  <h2><%= @event %> - <%= ecat %> (Count:<%= ecat.num_competitors %>)</h2>
  <%= render :partial => "display_category", :locals => {
    :age_group_type => ecat.age_group_type, 
    :event_category => ecat,
    :registrant_event_sign_ups => ecat.registrant_event_sign_ups.where({:signed_up => true}) } %>
  <hr />
<% end %>
