Download a Spreadsheet containing 3 columns. ID and Wave and Name. (with header row).
%br
Each row must contain a valid Registrant ID and Wave.

= link_to "Download xls", competition_wave_assignments_path(@competition, format: :xls)
