%b Administrator
To authorize A laptop, <u>on that laptop</u> go to #{acl_permissions_url} and type in the access key

%p This will also allow that laptop to create user accounts without triggering e-mail confirmations.

%h2.current_access_key
  Today's Access Key is
  = modification_access_key
