%b Note:
This password is your password for ALL unicycling conventions provided by this system.
- legacy_conventions = user.user_conventions.select{|uc| uc.legacy_encrypted_password.present? }.map(&:subdomain)
- if legacy_conventions.any?
  %br
  Specifically: #{legacy_conventions.join(", ")}
