%h2 Assign Judges

%p
  In order to assign judges to your competition, you have to perform 2 actions. First you have to
  %b Mark them as Volunteers (if they aren't yet marked)
  then you have to
  %b assign them as one of the judge roles (Technical, Presentation, etc)
