%h2 Assign Competitor Order

%p The system allows you to either manually assign the competitor order, or to instruct the system to randomly assign the order.  Once the order is set, it can be "finalized" and published to the website.
