%h1 Director Responsibilties

.row
  .small-12.columns
    %p As a Director, you have special powers and responsibilities.

    %hr

    %h3 Managing the list of competitors

    %p Before the competition starts please confirm the list of people who will be competing in your event.

    %p For most of you, this will be very simple, as you will accept everyone who has signed up for the event. For some events, this is more complicated, as they have registered as team members, or as pairs, etc. As director, you are responsible for resolving issues with sign-ups.

    %p
      %b Action:
      log in, click on the event name, then click on "Manage Competitors" and create competitors from the signed-up data.

    %p
      %b Impact:
      After accepting competitors, the "Competitor List" and "Start List" will be available for everyone to see (See the
      = link_to "Competitions/Results", results_path
      ) in the menu bar.


    %h3 Review the Scoring Sheets

    %p The system is capable of scoring each competition in many varied ways. Your Competition Manager has tried to configure the system so that you have the recording sheets/forms that you need, but he/she may have made a mistake.

    %p Before the competition starts please view the scoring sheets which are available to you. These will be printed and available at your events for recording by judges.

    %p
      %b Action:
      E-mail the competition administrator if you have any questions/concerns about the way we are gathering data. If you have suggestions about how to do it differently, let them know.

    %p
      Once you have assigned the competitors for your events, you can see the scoring sheets on the left-side of your competition menus.

    %b
      For examples of scoring sheets, please review the
      = link_to "Competition Choices", example_competition_choices_path
      documentation.

    %hr

    %h3 Prepare to enter the result data

    %p After the competition you are responsible for having someone enter the results into the website forms. You have the power to designate other accounts as Data Entry Volunteers. Once the data is entered, and double-checked, you (Director) can "Approve" this data.

    %p
      %b Action:
      once the data is approved and you agree that the resulting places are accurate, you lock the competition.

    %p
      %b Impact:
      Once a competition is locked, no more changes to the data can be performed. Awards will be generated, and printed, and stuck on medals. Some events will have their results posted soon after locking, and some only after awards are given out. (this is the Award Manager's responsibility)

    %hr

    %p If you have any questions, please fill out the "Contact Us" or send an e-mail to the competition manager.
