%h1 Group Freestyle Competitions

= render "assign_order"

= render "assign_judges"

- if @event.present?
  %p
    - params = { "competition[scoring_class]" => "Artistic Freestyle IUF 2015", "competition[num_members_per_competitor]" => "Three or more" }
    = link_to "Click here", new_event_competition_path(@event, params), class: "button"
    to continue setting up your Group Freestyle Competition
