%h1 Overall Champion Competition

%p
  The "Overall Track Champion" is determined by taking the placing-results of multiple
  other competitions.

%p
  The system supports different types of "Overall Champions".

%h2 Example Track Champion Configuration

= image_tag "screenshots/overall_champion_track.png", class: "screenshot"

%h3 Example Results
= image_tag "screenshots/overall_champion_track_results.png", class: "screenshot"

- if @event.present?
  %p
    - params = { "competition[scoring_class]" => "Overall Champion", "competition[num_members_per_competitor]" => "One" }
    = link_to "Click here", new_event_competition_path(@event, params), class: "button"
    to continue setting up your Competition
