%h1 Standard Skill Competitions

%p
  A Standard Skill Competition provides the following features:
  %ul
    %li Printable judge-recording sheets
    %li Online Electronic data entry (for entry of the paper-judged results)
    %li Scoring of the results according to the IUF rules

%p
  Please create a separate Competition for each class of Competitors.
  %br
  Examples
  %ul
    %li Individual Female Intermediate 11-12
    %li Individual Male Jr Expert
    %li Pairs 19-22
    %li Small Group
    %li Big Group

%p
  Example Judge Scoring Data Entry view:
  = image_tag "standard_skill_judging_example.png"

%p
  Example Calculation Results
  = image_tag "standard_skill_judging_results_example.png"


- if @event.present?
  %p
    - params = { "competition[scoring_class]" => "Standard Skill", "competition[num_members_per_competitor]" => "One" }
    = link_to "Click here", new_event_competition_path(@event, params), class: "button"
    to continue setting up your Standard Skill Competition
