<h1>Manage Judges</h1>

<table>
    <caption>Chief Judges</caption>
    <thead>
        <tr>
            <th>Event</th>
            <th>Chief Judge</th>
        </tr>
    </thead>
    <tbody>
        <% @events.each do |event| %>
            <tr>
                <td><%= link_to event, event_path(event) %></td>
                <td>
                  <% User.with_role(:chief_judge, event).each do |user| %>
                    <%= user %>
                  <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
