<h1>Export Menu</h1>

<hr />
<b>Download Details on registrants who bought:</b>
<%= form_for :data, :url => admin_export_download_payment_details_path(:format => :xls), :method => :get do |f| -%>
  <%= f.select :expense_item_id, ExpenseItem.all.map { |ei| [ei, ei.id] } %><br />
  <%= f.submit "Export Registrants who bought this item", :class => "multiclick" %>
<% end %>

<hr />
<%= link_to 'Download Event Info', admin_export_download_events_path(:format => :xls) %>
