%h1 Editing #{@registration_period} Registration Period

%fieldset
  = render 'form'

= link_to 'Delete', @registration_period, method: :delete, data: { confirm: 'Are you sure?' }
|
= link_to 'Back', registration_periods_path
