%h2 Fast Track Events

%h4 Summary:

%ul
  %li Covers all Races that occur ON the track (Fast, multi-heat events)
  %li 100m, 400m, 800m, One Foot, Wheel Walk
  %li Only Competitors are allowed on the track, coaches/parents must stay in the stands
  %li Common “false-start” rules about DQ

%h4 Roles:

%b Announcer

%ul
  %li Announce the age-group, as well as the age-group that should report to the Line-Up area
  %li should not announce names of any competitors that are not present in the line-up area

%b Line-Up
%ul
  %li Line up each heat of racers separately, in a separate marshaling area
  %li
    Check:
    %ul
      %li wheel-size
      %li crank size
      %li required safety gear: shoes, knee-pads, gloves
      %li ID Number (and ensure that it is the right ID number)
  %li Put the lane number sticker on the helmet (or hip) of each competitor (facing the camera)
  %li Ask that the competitor keep their lane number sticker, for possible use in subsequent races.

%b HEAT ASSIGNMENT RULES:
%ul
  %li You cannot compbine genders or age-groups without Race Director Approval
  %li You cannot combine 20" and 24" competitions.
  %li NEVER re-use a heat #, <b>ever</b>.
  %li
    Do not asign heats to future age groups (see above rule)
    %br
    %b Which means that once you finish an age group's registration, that is done.
  %li Try to re-use Hip Numbers (ie: lane numbers)
  %li the fastest competitor is typically assigned to lane 1

%b Exceptions:

%ul
  %li When a racer has to re-run, you should fit them into a future heat. (a heat which would otherwise not be full), but give the racer a little time to rest

  %li Explain the False-start rules?
  %li If you False Start twice, you're done.

  %li
    Explain DQ due to crossing lanes
    %ul
      %li Crossing the tape is considered a DQ
      %li If you are interfered with, you can ride around the person in your lane, otherwise if you leave your lane you will be DQ'd

%b 800m:
%ul
  %li 800m: if using waterfall start, can cut in immediately, if using staggered start, must wait until a certain point to cut in
  %li You are not DQ for crossing the line
  %li Explain passing rules for 800m
  %li Maintain a safe distance from the next rider (defined as "wheels at least 24" apart")

%B Relay:
%ul
  %li Relay: Remount is allowed
  %li Baton must be passed during the passing area, or will be DQ'd
  %li The next person may start anywhere on the track within their lane (doesn't have to be within the 'passing area')


%b False-Start Judge
%ul
  %li Must whistle if a false-start is detected
  %li Must clearly indicate who false-started
  %li Must clearly indicate to the Finish-Line Judge who has been DQ'd for false-start reasons
  %li Is responsible for the One-Foot DQ line as well

%b Finish Line Judge

Must clearly note on the data any competitor:
%ul
  %li  who starts
  %li who DQ's (False-starts, etc)
  %li Must indicate the reason for each DQ. Was it false-start? Was it falling off? Was it equipment? Was it not showing up?
  %li who did NOT show up (if people are assigned to heats (UNICON rule))

%b Physical Setup Hints:
%ul
  %li Marshalling area should be clearly marked with pylons and should be managed in a way that makes it obvious when heats should move forward
  %li The finish line should know who is in each lane in each heat, and should record notes on the paper copy, to support the electronic copy.
  %li The camera MUST be set to “thousands”
