%tr
  %th{ rowspan: "2"} Competition
  %th{ rowspan: "2"} Announcer Form
  %th.start_times{ colspan: "3"} Start
  %th.end_times{ colspan: "3"} Finish
%tr
  %th Recording Forms
  %th Data Entry
  %th Review

  %th Recording Forms
  %th Data Entry
  %th Review
