%h3= t(".start_line")
= render "competitions/start_line_data_entry_links", competition: competition

%h3= t(".finish_line")
= render "competitions/finish_line_data_entry_links", competition: competition
