// locals: competition
%table.sortable
  %caption Judge-specific results
  %thead
    %tr
      %th Judge
      %th # Competitors
      %th # Results Entered
      %th Results
  %tbody
    - competition.judges.each do |judge|
      %tr.js--highlightMatching
        %td= judge
        %td.js--shouldMatch= competition.competitors.active.count
        %td.js--shouldMatch= judge.num_scored_competitors
        %td= link_to "View Scores", competition.scoring_path(judge)
