// Locals: judges, judge_type, anonymous
- total_judge_columns = 4 + (judges.count * (judge_type.num_columns + 2))

%tr.non_printable
  %th{ rowspan: 2 }
  %th{ rowspan: 2 }
  %th{ rowspan: 2 }

  - judges.each_with_index do |judge, index|
    %th{ colspan: judge_type.num_columns + 2, class: "judge_status_#{judge.status}" }
      = link_to "DQ Judge Scores", toggle_status_judge_path(judge), method: :put, class: "nonfocus_button", data: { confirm: "This will toggle whether the scores are included or not in the calculation. Continue?" }
  %th{ rowspan: 2 }
