- if @competition.can_calculated_age_group_results?
  = form_tag set_age_group_places_competition_path(@competition), method: :post do
    .row
      .small-6.columns
        = select_tag :age_group_entry_id, options_from_collection_for_select(@competition.age_group_type.age_group_entries, "id", "to_s"), :include_blank => true
      .small-6.columns
        = submit_tag "Set Single Age Group", class: "button tiny", data: { confirm: "Set single age group entry?" }
