%h2= Competitor.model_name.human(count: 2)
%p
  There are currently
  %span.signed_up_count
    = @competition.signed_up_registrants.count
  registrants for this event

%p
  There are currently
  %span.assigned_registrants
    = @competition.num_assigned_registrants
  registrants assigned to competition in
  %span.assigned_competitors
    = @competition.num_competitors
  competitors.

- if @competition.compete_in_order?
  - if @competition.order_finalized?
    The Competitor Order has been Finalized
  - else
    The Competitor Order has
    %strong Not
    been finalized
