%h2 Volunteers

- if @competition.uses_judges
  %p
    There are currently
    %span.num_volunteers
      = @competition.judges.count
    judges assigned.

  %p
    Configure volunteers to help with data entry/judging

- if @competition.uses_volunteers
  %p
    Configure Volunteers to help you with data entry.
