<h1>New Competition</h1>

<h2>Event: <%= @event %></h2>

<h3>Signed Up Competitors</h3>
(These will be added to the Compettion <b>Upon POPULATE directive</b>)
<%= render :partial => "/event_categories/sign_ups", locals: { registrants: @event.signed_up_registrants, event: @event } %>

<br />
<b>NOTE:</b> This will create the competition AND populate it with competitors from the sign-up list <br />
It will also <b>RANDOMIZE</b> the competitor order<br /><br />

<%= render 'form' %>
