%h1 New Competition
%h2 Event: #{@event}
%h3 Signed Up Registrants Count: #{@event.num_signed_up_registrants}
%br

%b NOTE:
This will only create the competition.

%br
The Event Director will need to assign/randomize the competitor list.

%br
%br
= render 'form'
