.row
  .small-12.columns
    %h1 Translate Registration Period
.row
  .small-12.columns
    %ul
      - @registration_periods.each do |registration_period|
        %li= link_to registration_period, edit_translations_registration_period_path(registration_period)
