%thead
  %tr
    %th Order
    %th ID
    %th.competitor_name Name
    - judge_header.score_numbers.each do |score_number|
      %th.judging_category
        = judge_header.description_for(score_number)
        %br
        = "(0-" + judge_header.max_score_for(score_number).to_s + ")"
    %th.derived Total
    %th.derived Place
    %th Actions
