= render :partial => "/competitors/competitor_basic", :object => score_with_total.competitor

- score_with_total.judge_type.score_numbers.each do |score_number|
  %td= score_with_total.score_value(score_number)

%td.derived= score_with_total.total
%td.derived.js--shouldNotMatch
  = score_with_total.judged_place
