%h1 Editing #{@competition}

- if can? :destroy, @competition
  = link_to 'Delete',  competition_path(@competition), :method => :delete, data: { :confirm => "Are you sure you want to destroy the COMPETITION?" }

= render 'form'
