version: 2.1
orbs:
  tablexi: tablexi/standard@0.0.7
executors:
  my_executor:
    # The working directory is important, so that we
    # install/cache everything relative to that location
    working_directory: ~/tmp
    docker:
      - image: circleci/ruby:2.6.6-node
        environment:
          RAILS_ENV: test
          PGHOST: localhost
          PGUSER: ubuntu
          # Bundle paths are necessary so that the gems are installed within the workspace
          # otherwise, they are installed in /usr/local
          BUNDLE_PATH: ~/tmp/vendor/bundle
          BUNDLE_APP_CONFIG: ~/tmp/vendor/bundle
      - image: circleci/postgres:9.4.12-alpine
        environment:
          POSTGRES_USER: robindunlop
          POSTGRES_PASSWORD: password
jobs:
  build:
    executor: my_executor
    steps:
      - checkout

      # Gems
      # Restore the bundle of gems
      - restore_cache:
          key: badges-gemfile-cache-{{ checksum "Gemfile.lock" }}
      - run: bundle install --without=development --jobs=4 --retry=3

      - save_cache:
          key: badges-gemfile-cache-{{ checksum "Gemfile.lock" }}
          # NOTE: if this path directory is changed, the 'key' must be changed.
          # because caches are write-once, and always restore to the same path
          # they were in when they were stored.
          paths:
            - ~/tmp/vendor/bundle

      - run: cp config/secrets.yml.template config/secrets.yml
      - run: cp config/database.yml.template config/database.yml

      # Store the application code, configuration, and gems in a workspace
      - persist_to_workspace:
          root: .
          paths:
            - .

  rspec:
    parallelism: 4
    executor: my_executor
    steps:
      - attach_workspace:
          at: ~/tmp

      - run:
          name: Wait for db
          command: dockerize -wait tcp://localhost:5432 -timeout 2m

      # Setup DB in this job, because it cannot be shared through the attach_workspace
      - run: bundle exec rake db:create
      - run: bundle exec rake db:schema:load

      # Run rspec in parallel
      - run:
          shell: /bin/bash -eo pipefail -O globstar
          name: rspec
          command: |
            bundle exec rspec --profile 10 \
                            --format RspecJunitFormatter \
                            --out test_results/rspec.xml \
                            --format progress \
                            $(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)

      # Save test results for timing analysis
      - store_test_results:
          path: test_results

  release_stage:
    executor: my_executor
    steps:
      - attach_workspace:
          at: ~/tmp

      - tablexi/wait_for_other_builds

      - run: bundle exec cap stage deploy

  release_prod:
    executor: my_executor
    steps:
      - attach_workspace:
          at: ~/tmp

      - run: bundle exec cap prod deploy

workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build
      - rspec:
          requires:
            - build
      - tablexi/rubocop:
          executor: my_executor
          requires:
            - build
      - tablexi/bundle_audit:
          executor: my_executor
          requires:
            - build
      - tablexi/check_db_schema:
          executor: my_executor
          requires:
            - build
      - release_stage:
          requires:
            - rspec
            - tablexi/rubocop
            - tablexi/bundle_audit
            - tablexi/check_db_schema
          filters:
            branches:
              only:
                - develop
      - release_prod:
          requires:
            - rspec
            - tablexi/rubocop
            - tablexi/bundle_audit
            - tablexi/check_db_schema
          filters:
            branches:
              only:
                - master
