%h1= t(".header", registration_cost: registration_cost)

%fieldset.form__fieldset
  = render 'form'

= link_to t("delete"), @registration_cost, method: :delete, data: { confirm: t("are_you_sure") }
|
= link_to t("back"), registration_costs_path
