<%# locals: registrant %>
<div class="expenses data_block">
  <fieldset>
    <legend><%= registrant.to_s %>'s Expenses</legend>
    <table id="expense_lines">
      <% registrant.registrant_expense_items.each do |ce| %>
        <%= render :partial => "/registrant_expenses/registrant_expense_item", :locals => { :registrant_expense_item => ce} %>
      <% end %>
      <% reg_item = registrant.registration_item %>
      <% unless reg_item.nil? %>
        <tr>
          <td>Registration Fee</td>
          <td><%= reg_item.cost.to_s %></td>
        </tr>
      <% end %>
    </table>
  </fieldset>
</div>
