<div class="registration_sign_up">
  <%= link_to 'New Competitor', new_registrant_path, :class => "competitor registration_button" %>
  <%= link_to 'New Non-Competitor', new_registrant_path, :class => "noncompetitor registration_button", data: {confirm: 'Not yet implemented'} %>
</div>
