%div.medical_certificate
  %p
  %p
    %b= Registrant.human_attribute_name(:medical_certificate_url)
    %br
    Medical Certificate:
    - if registrant.medical_certificate.present?
      Uploaded
    - else
      %b NOT
      Uploaded
