- # locals: f
= f.label :last_name, t(".name"), :class => "required"
= f.text_field :last_name, :placeholder => t(".last_name"), :size => 15, :autofocus => "true"
= f.text_field :first_name, :placeholder => t(".first_name"), :size => 12
