<fieldset class="data_block">
<legend>Waiver</legend>
  <% cache [@config] do %>
   <div id="waiver_text_box">
      <%= text_to_html_linebreaks(@config.online_waiver_text).html_safe %>
   </div>
  <% end %>
  <p>
    <% if @registrant.age.nil? %>
      By signing in the box below, you are agreeing to the waiver above. If you are under 18, you must have a parent/legal guardian sign for you.
    <% else %>
      <% if @registrant.minor? %>
        By having your parent/legal guardian sign in the box below, they are agreeing to the waiver above.
      <% else %>
        By signing in the box below, you are agreeing to the waiver above.
      <% end %>
    <% end %>
  </p>
  <%= f.label :online_waiver_signature, t(".online_waiver_signature") %>
  <%= f.text_field :online_waiver_signature, :size => 25  %>
</fieldset>
