%fieldset.data_block
  %legend= t(".header")
  - cache_i18n [@config] do
    #waiver_text_box
      = text_to_html_linebreaks(@config.waiver_text).html_safe

  = f.check_box :online_waiver_acceptance #I confirm that I read, understand and accept the Terms
  = f.label :online_waiver_acceptance, class: "required"
