- return if total_owing == 0
.registrations_box
  - if can? :create, Payment
    .payment_process
      = link_to t(".pay_now"), new_payment_path, :class => "payment_link"
    .prices_increase
      - rp = RegistrationPeriod.relevant_period(Date.today)
      - if rp.nil?
        = "[#{t(".unknown")}]"
      - else
        = print_time_until_prices_increase(rp)
