<div class="registrations_box">
  <% if can? :create, Payment %>
    <div class="payment_process">
      <%= link_to t(".pay_now"), new_payment_path, :class => "payment_link" %>
    </div>
    <div class="prices_increase">
      Prices Increase
      <% rp = RegistrationPeriod.relevant_period(Date.today) %>
      <%if rp.nil?  %>
        [Unknown]
      <% else %>
        <% if (DateTime.now > rp.end_date) %>
          very soon
        <% else %>
          in <%= distance_of_time_in_words(DateTime.now, rp.end_date) + " (" + ((rp.end_date) + 1).strftime("%b %e") + ")" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
