<div class="event_summary">
  <h3>Events</h3>
  <div class="data_block">
    <% Category.includes(:events).all.each do |cat| %>
      <% if @registrant.has_event_in_category?(cat) %>
        <fieldset class="data_block">
          <legend><%= cat %></legend>
          <ul>
            <% cat.events.each do |event| %>
              <% if @registrant.has_event?(event) %>
                <li><%= @registrant.describe_event(event) %></li>
              <% end %>
            <% end %>
          </ul>
        </fieldset>
      <% end %>
    <% end %>
  </div>
</div>
