- cache_i18n [registrant] do
  - if registrant.amount_owing > 0.to_money
    %span.unpaid
      = print_formatted_currency(registrant.amount_owing)
      = t(".unpaid")
  - else
    %span.paid
      = print_formatted_currency(registrant.expenses_total)
      = t(".paid")

