.registration_closed
  %h2 Online Registration is now closed
  You cannot make any more changes to your registration details.
  %br
  If you have any outstanding payments, you may be able to continue this registration on-site (at the discretion of the event-organizers)
