- cache [I18n.locale, @config, @registrant], expires_in: 1.hour do
  - if @registrant.competitor && (@registrant.songs.count > 0 || !@config.music_submission_ended?)
    .registrant_data_group.non_printable
      %fieldset.data_block
        - cache [I18n.locale, @config, @registrant] do
          %legend Your Competition Music
          %table
            %thead
              %tr
                %th Event
                %th Song
            %tbody
              - @registrant.songs.includes(:event).each do |song|
                %tr
                  %td= song.event
                  %td= song.description
        - if can? :create, Song
          .non_printable
            To upload music, please #{link_to "Click Here", registrant_songs_path(@registrant)}
