%fieldset.data_block
  %legend= t(".header")
  = f.label :medical_certificate_url
  = f.file_field :medical_certificate_url
  - if f.object.medical_certificate.present?
    = link_to "Medical Certificate", f.object.medical_certificate_url
