- cache_i18n [@registrant, @config] do
  - if @registrant.amount_owing > 0
    .unpaid_warning
      UNPAID?
  - if @config.usa_membership_config? && !@registrant.usa_membership_paid?
    .unpaid_warning
      USA#
  - if @registrant.competitor? && @registrant.age <= 10
    .unpaid_warning
      Age <= 10 (wheel size)
  - @registrant.event_warnings.each do |warning|
    .unpaid_warning
      = warning
