- cache [I18n.locale, @registrant, @config] do
  - if @registrant.amount_owing > 0
    .unpaid_warning
      UNPAID?
  - if @config.usa && !@registrant.usa_membership_paid?
    .unpaid_warning
      USA#
