<% if EventConfiguration.waiver_url %>
  <div>
  <p>
  <b>Every</b> competitor must bring a filled out <%= link_to "Waiver", EventConfiguration.waiver_url, {:target => "_blank", :class => "external_link"} %> to the Competition</b>
  <% if current_user.has_minor? %>
    <b class="legal_minor">
  <% end %>
  Registrants under the age of 18 must have the waiver signed by a Parent/Guardian
  <% if current_user.has_minor? %>
    </b>
  <% end %>
  </p>
</div>
<% end %>
