<div class="data_block non_printable">
  <p>
  <b>Every</b> competitor must bring a filled out Legal Waiver to the Competition.<br />
  <% if @has_minor %>
    <b class="legal_minor">
  <% end %>
  Registrants under the age of 18 must have the waiver signed by a Parent/Guardian.
  <% if @has_minor %>
    </b>
  <% end %>
  </p>
  <% unless @registrant.nil? %>
    <%= link_to 'Print Legal Waiver', waiver_registrant_path(@registrant, :format => 'pdf'), {:class => "print_waiver_link", :target => "_blank" } %>
  <% end %>
</div>
