<h1>New Registration</h1>
<% if mixpanel? %>
  <script type="text/javascript">
    mixpanel.track("New Registrant Page Loaded", {'competitor': <%= @registrant.competitor %>})
  </script>
<% end %>

<%= render 'form' %>

<%= link_to 'Back', registrants_path %>
