<h1>Registration Summary</h1>

<div>
  <div class="data_block">
    <%= render :partial => "summary" %>
  </div><div class="data_block">
    <%= render :partial => "registrant_expenses" %>
  </div>
</div>
<div>
  <% if @registrant.competitor %>
    <%= render :partial => "registrant_events" %>
  <% end %>
</div>