%h1 Expense Groups

%table
  %thead
    %tr
      %th Group Name
      %th Visible
      %th
  %tbody
    - @expense_groups.each do |expense_group|
      %tr
        %th= expense_group
        %th= expense_group.visible?
        %th= link_to "Toggle", toggle_visibility_onsite_registration_expense_group_path(expense_group), method: :put
