%h1 Competition Setup

%p Before we can use the competition system, configure it.

%table.alternate
  %thead
    %tr
      %th
      %th Status
  %tbody
    %tr
      %td= link_to "Base Settings", edit_competition_setup_event_configuration_path
      %td
