- if error_messages and error_messages.errors.any?
  #error_explanation
    %h2
      = pluralize(error_messages.errors.count, "error")
      = t(".errors_prevented_object_from_being_saved")
    %ul
      - error_messages.errors.full_messages.each do |msg|
        %li= msg
