.row
  .small-6.columns
    = label_tag :file, "Source File"
  .small-6.columns
    = file_field_tag :file
- if policy(competition).reuse_uploaded_files?
  .row
    .small-6.columns
      = label_tag :uploaded_file_id, "Previously Uploaded File"
    .small-6.columns
      = select_tag :uploaded_file_id, options_from_collection_for_select(competition.uploaded_files.ordered, "id", "to_s_with_date"), include_blank: true, class: "chosen-select"
