<table>
  <thead>
    <tr>
      <th>Draggable</th>
      <th>Original Position</th>
      <th>Age Group Entry</th>
    </tr>
  </thead>
  <tbody id="age_group_entry-list" data-target="<%= sort_age_group_type_path(@age_group_type) %>" class="drag_drop_sortable">
    <% age_group_entry_sort_list.age_group_entries.order(:position).each do |f| %>
      <tr id="age_group_entry_<%= f.id %>">
        <td class="handle" style="cursor: move">[DRAG]</td>
        <td><%= f.position %></td>
        <td><%= f.to_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr />
