%h1 Current Work

.row
  .small-12.columns
    %p
      These are the items which we are actively working on.

    %ul
      %li Prepare the Administration/Competition sections of the site for Translation
      %li Improve the automated test coverage in order to improve the stability of the system.
