.row
  .small-12.columns
    %p
      In order to register for this convention as a Competitor or Non-Competitor,
      you must be an active member of the
      = link_to "International Unicycling Federation", "https://unicycling.org/"
    %p
      During Registration, your membership will be checked against the
      = link_to "IUF Membership database", Rails.configuration.iuf_membership_url
      to confirm that your membership is currently valid.

    %p
      You must have a valid IUF Membership before you are able to pay for your
      registration.

    %p
      If you believe that your Membership status is incorrect, please
      = link_to "Send feedback", new_feedback_path
      to the convention organizers.
