%h2 Upcoming Work

.row
  .small-12.columns
    %p
      These are the items which we plan on working on very soon.

    %ul
      %li Add reports for judging for Standard Skill
      %li Add entry form for Standard Skill
      %li Add judging calculation for Standard Skill
      %li Set up logrotate
      %li Set up https encryption as the default/only
      %li automatic e-mail to Robin whenever new translations are stored by translators (so that they can be reviewed and deployed)
      %li Improve the "Expert Heat" competiton-choosing experience for 100m/etc
      %li Improve ability to import/export results/scores
      %li Improve Code Quality using rubocop
