%h2 Upcoming Work

.row
  .small-12.columns
    %p
      These are the items which we plan on working on very soon.

    %ul
      %li Improve the description of the Registration system features for public use
      %li Improve the clarity/ability to create new tenants (Conventions)
      %li Set up logrotate
      %li Set up https encryption as the default/only
      %li Improve the "Expert Heat" competiton-choosing experience for 100m/etc
      %li Improve ability to import/export results/scores
      %li Improve Code Quality using rubocop
