%h1 Change Log

= render "current_work"
= render "upcoming_work"

%hr

%h3 Other Changes

%p
  There are many other changes and features which we would like to make to this system, but at this time, they are not on the short-list.
  For a full view of them, look at the "todo.txt" in the github repo.
