%h1 Help Translate this site

%p
  Do you want to see this site translated into your language?
  %br
  Do you see some translation mistakes that you want to help correct?

%h2 How can you help?

%ol
  %li Sign up to be a translator
  %li Translate some text from English into your language of choice
  %li Submit your translations

%p
  There is no obligation to translate everything, any contributions are greatly appreciated.

%p
  After submitting the translations, they will appear on the live site within 24-48 hours (after approval).

%h3 How to get started?

= link_to "Sign Up as a translator", "#", class: "button"

Robin notes:
- Create a convention_translator role, for use in convention-specific translations?
