<h1>Help</h1>

<h2>This site is for the Unicycling Convention registration</h2>

<h3>FAQ</h3>
<div class="help_text">
  <ul>
    <li><b>I cannot Log in:</b>
    Once you have Signed Up, check your e-mail for a confirmation message. Check all spam filters. Choose "Resend Confirmation E-mail" if you cannot find the e-mail
    </li>
    <li><b>How do I Register:</b>
    Once you have signed in, choose "Create New Competitor" or "Creat New Non-Competitor" and fill out the fields.<br />
    Pay for the registration in order to secure your registration
    </li>
  </ul>
</div>

If you have any problems or questions about registration, please contact <%= EventConfiguration.contact_email %><br /><br /> or submit feedback:<br />

<h4>Feedback</h4>
<%= form_tag welcome_feedback_path do %>
  <%= text_area_tag "feedback", nil, {:cols => 100, :rows => 6 } %><br />
  <%= submit_tag "Send Feedback", :class => "focus_button" %>
<% end %>
 
