%h1 #{@organization.title} Membership

- if @organization.information_partial
  = render @organization.information_partial
- else
  %p
    This convention asks for your #{@organization.title} membership details.

