%h1 Accounts persist convention-to-convention

%p
  As of February 2017, the Unicycling Registration site (this site)
  has a single User account for all of your conventions.

%h2 What this means?

%ul
  %li
    After you have signed up for your first convention, you will not need to sign
    up again in future years/conventions. You can use the same e-mail & password each
    time.
  %li
    Changing your password will change the password you use to sign in to all conventions
  %li
    If you had accounts from multiple past years, you can sign in to any of them
    using your current password.
