<h2>Data Entry</h2>
<%= link_to "Track Race Instructions", printing_race_recording_instructions_path %>
<%= link_to "(pdf)", printing_race_recording_instructions_path(:format => :pdf) %>

<table class="sortable">
  <thead>
    <%= render partial: "competitions/data_entry_links_header" %>
  </thead>
  <tbody>
    <% @event.competitions.each do |competition| %>
      <%= render partial: "competitions/data_entry_links", locals: { competition: competition } %>
    <% end %>
  </tbody>
</table>
