<h1>My Judging Events</h1> 

<ul>
<% @judges.each do |judge| %>
  <li><%= scoring_link(judge) %></li>
<% end %>
</ul>

<%if can? :create, LaneAssignment %>
  <h1>Lane Assignments</h1>
  <ul>
    <% Competition.event_order.all.each do |comp| %>
      <% next unless comp.uses_lane_assignments %>
        <li><%= link_to "#{comp} Lane Assignments", competition_lane_assignments_path(comp) %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
