<h1>My Judging Events</h1> 

<ul>
<% @judges.each do |judge| %>
  <li><%= scoring_link(judge) %></li>
<% end %>
</ul>

<%if can? :create, LaneAssignment %>
  <h1>Lane Assignments</h1>
  <ul>
    <% Competition.all.each do |comp| %>
      <li><%= link_to "Lane Assignments for #{comp}", competition_lane_assignments_path(comp) %></li>
    <% end %>
  </ul>
<% end %>
