<h1><%= @event %></h1>

<h2>Management</h2>
<ul>
  <li>Create Competition from Sign-Ups</li>
  <li>Disable Judging</li>
  <li>Publish Results</li>
</ul>
<hr />

<h2>Sign Ups</h2>
<ul>
  <li>Print Sign-Ups list</li>
</ul>

<hr />
<h2>Data Entry</h2>
<ul>
  <li>Print Paper Copies</li>
  <li>Enter Heat Information</li>
  <li>Enter Results</li>
  <li>Print Data Checking</li>
</ul>

<hr />
<h2>Results printing</h2>
<ul>
  <li>Display/Edit Results</li>
</ul>

<hr />
<h2>Awards Printing</h2>
<ul>
  <li>Announcer Forms</li>
  <li>Create Awards</li>
</ul>
