
<% @event.event_categories.each do |event_category| %>
  <% @event_category = event_category %>
  <h1><%= @event_category %> - Sign Ups - (Count: <%= @event_category.num_competitors %>)</h1>
  <%= render :partial => "/event_categories/sign_ups", locals: {:registrants => event_category.signed_up_registrants, :event => @event} %>
<% end %>
