<% if @lane_assignment.errors.any? %>
  var errors = $("<ul />");
  <% @lane_assignment.errors.full_messages.each do |error| %>
    errors.append('<li><%= escape_javascript( error ) %></li>');
  <% end %>

  // Display errors on form
  $('#notice').html($("<div id=\"error_explanation\" />").append(errors));


<% else %>
  var new_row = $("<%= escape_javascript(render partial: 'lane_assignment', object: @lane_assignment) %>")
  new_row.appendTo(".lane_assignments");
  new_row.effect("highlight", {}, 3000);
  $("form").trigger("reset");
  $(".js--autoFocus").trigger("chosen:updated");
  $(".js--autoFocus").trigger('chosen:activate');

  $('#notice').empty();
<% end %>
