%h1= "#{@competition} New Lane Assignment"

#notice

.lane_assignment_entry_form
  = render partial: 'form', locals: { remote: true }

.lane_assignment_entries
  %table.sortable.lane_assignments
    %thead
      %tr
        %th Heat
        %th Lane
        %th ID
        %th Competitor
        %th Age Group
        %th Gender
        %th
        %th

    %tbody
      - @lane_assignments.each do |lane_assignment|
        = render partial: "lane_assignment", object: lane_assignment
