
<h1><%= @competition %></h1>

<h2>New Lane Assignment</h2>
<div id="notice"></div>

<%= render 'form' %>

<h2>Lane Assignments </h2>
<table class="sortable lane_assignments">
  <thead>
    <tr>
      <th>Competition</th>
      <th>ID</th>
      <th>Competitor</th>
      <th>Heat</th>
      <th>Lane</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lane_assignments.each do |lane_assignment| %>
      <%= render partial: "lane_assignment", object: lane_assignment %>
    <% end %>
  </tbody>
</table>

<br />
