index.html.haml
= form_tag(import_path, method: :post, multipart: true) do
  = file_field_tag :file
  = select_tag :class_name, options_for_select(["User", "Registrant", "ContactDetail", "RegistrantExpenseItem", "RegistrantEventSignUp"])
  = submit_tag
