= render :partial => "results"

- if policy(@competition).destroy_all_results?
  = link_to "Delete All", destroy_all_results_competition_path(@competition), method: :delete, class: "button small alert", data: { confirm: "This will delete ALL Time Data for this competition. Are you sure?" }

%br
%h2 New Time Result
- unless @time_result.nil?
  = render 'form'
= link_to "Back", @competition
