<h1>Listing <%= @registrant %>'s songs</h1>

<%= render "songs_list" %>

<br>

<h1>New song (Step 1)</h1>

<fieldset class="wizard">
  <legend>Step 1</legend>
  <%= render 'form' %>
</fieldset>
<fieldset class="wizard wizard_other_step">
  <legend>Step 2</legend>
  Upload File
</fieldset>
<br />


<%= link_to "Back", registrant_path(@registrant) %>
