%h2 Songs Uploaded by #{@user}

= render "songs_list"
%br

%h1 New song (Step 1)
%fieldset.wizard
  %legend Step 1
  = render 'guest_form'

%fieldset.wizard.wizard_other_step
  %legend Step 2
  Upload Music File

%br
