// List the Costs for different events
- cache_i18n [Event] do
  - events = Event.joins(:expense_item).all
  - if events.any?
    %table
      %thead
        %tr
          %th Event
          %th Cost
      %tbody
        - Event.joins(:expense_item).all.each do |event|
          %tr
            %td= event
            %td= print_formatted_currency(event.expense_item.cost)
