.row
  .small-12.columns
    %h1 Translate Expense Group
.row
  .small-12.columns
    %ul
      - @expense_groups.each do |expense_group|
        %li= link_to expense_group, edit_translations_expense_group_path(expense_group)
