%table.import_results
  %thead
    %tr
      %th ID
      %th Name
      %th Competitor Exists?
      - if @competition.imports_times
        %th Minutes
        %th Seconds
        %th Thousands
      - else
        %th Rank (External)
        %th Details (external)
      %th Disqualified
      %th
  %tbody
    = render partial: 'import_result', collection: @import_results
