
<table class="sortable import_results">
  <thead>
    <tr>
      <th></th>
      <th>Raw data</th>
      <th>Bib number</th>
      <th>Minutes</th>
      <th>Seconds</th>
      <th>Thousands</th>
      <th>Disqualified</th>
      <th>Is Start Time?</th>
      <th>Rank (external)</th>
      <th>Details (external)</th>
      <th>Name</th>
      <th>Competitor Exists?</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'import_result', collection: @import_results %>
  </tbody>
</table>
