%thead
  %tr
    %th Entry #
    %th ID
    %th Name
    %th Competitor Exists?

    - displayer = @competition.results_displayer
    - displayer.headings.each do |heading|
      %th= heading

    %th Disqualified
    %th
    %th
