- reg = Registrant.find_by_bib_number(import_result.bib_number)
%td= reg
- matching_competition = reg.matching_competition_in_event(import_result.competition.event) if reg
- if matching_competition == import_result.competition
  %td.competitor_exists Yes
- elsif matching_competition.present?
  %td.competitor_other_comp_exists No (but #{matching_competition} does, so I'll import it there)
- else
  %td.competitor_not_exists No
