- reg = import_result.matching_registrant
%td= reg
- matching_competitor = import_result.matching_competitor
- if matching_competitor.try(:competition) == import_result.competition
  %td.competitor_exists Yes
- else
  - other_competition = reg.matching_competition_in_event(import_result.competition.event)
  - if other_competition
    %td.competitor_other_comp_exists No (but #{other_competition} does, so I'll import it there)
  - else
    %td.competitor_not_exists No
