
<% if @import_result.errors.any? %>
  var errors = $("<ul />");
  <% @import_result.errors.full_messages.each do |error| %>
    errors.append('<li><%= escape_javascript( error ) %></li>');
  <% end %>

  // Display errors on form
  $('#notice').html($("<div id=\"error_explanation\" />").append(errors));


<% else %>
  var new_row = $("<%= escape_javascript(render partial: 'imported_time_result', locals: {import_result: @import_result,  import_result_counter: nil }) %>")
  new_row.appendTo(".import_results");
  new_row.effect("highlight", {}, 3000);
  $(".data_entry").trigger("reset");
  $(".chosen-select").trigger("change");
  $(".js--autoFocus").each(function() {
    $(this).select2("open");
  });

  $('#notice').empty();
<% end %>
