<h1>Listing <%= @competition %>'s Imported Results</h1>

<h3> Start Times: <%= @is_start_time %></h3>

<%= render partial: "import_results/proof_single", locals: { display_username: true } %>

<h3>Menu of actions</h3>

<ul>
  <li><%= link_to "Accept these Results", approve_user_competition_import_results_path(@user, @competition, is_start_times: @is_start_time), method: :post, data: {:confirm => "Are you Sure?" }, class: "data_import_submit" %></li>
</ul>
