
<% if @import_result.errors.any? %>
  var errors = $("<ul />");
  <% @import_result.errors.full_messages.each do |error| %>
    errors.append('<li><%= escape_javascript( error ) %></li>');
  <% end %>

  // Display errors on form
  $('#notice').html($("<div id=\"error_explanation\" />").append(errors));


<% else %>
  window.location.replace("<%= data_entry_user_competition_import_results_path(@import_result.user, @import_result.competition, is_start_times: @import_result.is_start_time) %>")
<% end %>
