%p
  This is a summary of Artistic Freestyle judging results. Remember:
  %ul
    %li With the IUF scoring system, scores are given in order to rank riders within one age group. It is not relevant to compare rider scores from different age groups.
    %li There are no points here, only relative percentages.
    %li The Performance and Technical judges each have 100% which they split among the competitors (giving more to the better ones).
    %li These two scores are combined with the dismount score to create the total score for a competitor.
