<tr>
  <td></td>
  <td></td>
  <% if not_signed_up %>
    <td class="not_signed_up"><%= id %></td>
    <td class="not_signed_up"><%= name %></td>
  <% else %>
    <td><%= id %></td>
    <td><%= name %></td>
  <% end %>
  <td></td>
  <td></td>
  <td></td>
</tr>
