<h1>Race Recording Form </h1>
<div class="heading_left">
  <ul>
    <li><b>Competition: <%= competition %></b></li>
    <li>Is Start Times: <%= is_start_times %></li>
  </ul>
</div>
<div class="heading_right">
  <ul>
    <li>Recorder's Name(s):</li>
    <li>Phone Number:</li>
    <li>Date/Time:</li>
    <li>Page #:</li>
  </ul>
</div>

<div>
  Please write the following numbers, for handwriting reference:<br />
  1 2 3 4 5 6 7 8 9 0
</div>
