<div class="race_recording">
  <div class="nobreak">
    <h1>Artistic Results</h1>
    <hr />
    <h2 class="age_group_description"><%= @competition %></h2>
    <div style="clear: both"></div>
    <hr />

    <table class="full results race">
      <thead>
        <tr>
          <th class="id">ID</th>
          <th class="name">Name</th>
          <th class="place">Place</th>
        </tr>
      </thead>
      <tbody>
        <% @competition.competitors.each do |competitor| %>
          <tr>
            <td><%= competitor.external_id %></td>
            <td><%= competitor.to_s %></td>
            <td><%= competitor.place %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if @no_page_breaks %>
      <hr class="age_group_separator" />
    <% else %>
      <div class="page-break"></div>
    <% end %>
  </div>
</div>
