<div class="race_recording">
  <% @age_group_entries.each do |ag_entry| %>
    <% next if @results_list[ag_entry].size == 0 %>
    <div class="nobreak">
      <h1>Results</h1>
      <hr />
      <h2><%= @competition %></h2>
      <hr />
      <h2 class="age_group_description"><%= ag_entry %></h2>
      <h2 class="age_group_gender"><%= ag_entry.gender %></h2>
      <div style="clear: both"></div>
      <hr />

      <table class="full results race">
        <thead>
          <tr>
            <th class="id">ID</th>
            <th class="name">Name</th>
            <th class="time">Distance</th>
            <th class="place">Place</th>
          </tr>
        </thead>
        <tbody>
          <% @results_list[ag_entry].each do |competitor| %>
            <%= render :partial => "distance_result_entry", :locals => {:id => competitor.external_id, :name => competitor.to_s, :result => competitor.result, :place => competitor.place } %>
          <% end %>
        </tbody>
      </table>
      <% if @no_page_breaks %>
        <hr class="age_group_separator" />
      <% else %>
        <div class="page-break"></div>
      <% end %>
    </div>
  <% end %>
</div>
