<h1>INCOMPLETE (NOT YET READY </h1>
<% @age_group_entries.each do |ag_entry| %>
  <h1>Race Recording Form</h1>
  <hr />
  <h2><%= @competition %></h2>
  <h2><%= ag_entry %></h2>

  <table class="full_grid">
    <thead>
      <tr>
        <th>Heat</th>
        <th>Lane</th>
        <th>ID</th>
        <th>Age Group</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <% @competition.competitors.each do |comp| %>
        <tr>
          <td></td>
          <td></td>
          <td><%= comp %></td>
          <td><%= comp.external_id %></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
