<%= render partial: "recording_form_header", locals: { competition: @competition, is_start_times: @is_start_times } %>

<table class="full grid race">
  <thead>
    <tr>
      <th class="id">ID</th>
      <th class="time">Time</th>
      <th class="separator"></th>

      <th class="id">ID</th>
      <th class="time">Time</th>
      <th class="separator"></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "single_attempt_entry_sample" %>
    <% 30.times do %>
      <tr>
        <td></td>
        <td></td>
        <td class="separator"></td>
        <td></td>
        <td></td>
        <td class="separator"></td>
      </tr>
    <% end %>
  </tbody>
</table>
