// Headers
%h2.style_head Headers

%h1 Level 1 Header

%h2 Level 2 Header

// Banners
%h2.style_head Banners

%p.notice Notice Banner
%br
%p.alert Alert Banner
%br
.reg_access_banner.non_printing This Computer is authorized
%h2.current_access_key Today's Access Key is 12345

.invitation_access_banner
  You have been asked to share a registration with another user.
  %a{href: '#'} See the Registration Access
  page for details.

// Links
%h2.style_head Links

%a{href: "#"} Link

// Buttons
%h2.style_head Buttons

%a.competitor.registration_button Competitor Registration Button
%br
%a.noncompetitor.registration_button Non-Competitor Registration Button
%br
%a.spectator.registration_button Spectator Registration Button

%br
%br

%a.focus_button Focus Button
%br
%a.nonfocus_button NonFocus Button

%br
%br

%a.payment_link Pay Now

%br
%br

Registrant Expense Items
%br
%input.cost_item{ type: "submit", value: "Add Item" }
%br
%input.delete{ type: "submit", value: "Delete Item" }


// Wizard
%h2.style_head Wizard
.wizard_progress
  %ul
    %li.finished
      %a{href: '#'} First Step
    %li.current
      Current Step
    %li.unfinished
      Incompleted Step
    %li.unfinished
      Incompleted Step

// Breadcrumbs
%h2.style_head Breadcrumbs

%ul.breadcrumbs
  %li
    %a{ href: '#' } First Breadcrumb
  »
  %li
    %a Second Breadcrumb

// RegistrationType Choices
%h2.style_head Registration Choices
.pricing_options
  .pricing_option.recommended
    %h3.recommended_title Recommended
    %h3.title Competitor
    .current_price $ lots
    %ul.price_details
      %li.highlighted Highlighted Entry
      %li other entry
      %li other entry
    %a.competitor.registration_button Start Comp Reg

  .pricing_option
    %h3.title Non-Competitor
    .current_price $ little
    %ul.price_details
      %li other entry
      %li.highlighted Highlighted Entry
      %li other entry
    %a.noncompetitor.registration_button Start Non-Comp Reg
