Download a Spreadsheet containing 3 columns. ID and Heat and Name. (with header row).
%br
Each row must contain a valid Registrant ID and Heat.

= link_to "Download xls", competition_waves_path(@competition, format: :xls)
