%h1 Set Access Control

%p Authorizing a laptop allows it to create/modify registrations (even though online registration is closed). This should only be done on laptops in the registration area.

%p Authorizations are valid for 24 hours unless revoked earlier.

= form_tag set_acl_permissions_path do
  = label_tag :access_key, "Access Key"
  = text_field_tag :access_key
  = submit_tag "Authorize", class: "button"
