%h1 Manage Directors
%table
  %caption Directors
  %thead
    %tr
      %th Event
      %th Director
  %tbody
    - @events.each do |event|
      %tr
        %td= link_to event, event_path(event)
        %td
          - User.with_role(:director, event).each do |user|
            = user
