$breadcrumb-color: blue;

// STYLING
$competitor: #12AC50;
$competitor_hover: #4CD673;
$competitor_active: #55ff55;
$noncompetitor: #266DA5;
$noncompetitor_hover: #3487C9;
$noncompetitor_active: #3F9ADB;
$spectator: yellow;
$spectator_hover: yellow;
$spectator_active: yellow;

// Color of the recommended-competitor-type
$recommended-color: lightblue;

// Focus buttons (what to do next)
$focus: #12AC50;
$focus_hover: #4CD673;
$focus_active: #5555ff;

$nonfocus: #266DA5;
$nonfocus_hover: #3487C9;
$nonfocus_active: #5555ff;
