$breadcrumb-color: blue !default;

// STYLING
$competitor: #12AC50 !default;
$competitor_hover: #4CD673 !default;
$competitor_active: #55ff55 !default;
$noncompetitor: #266DA5 !default;
$noncompetitor_hover: #3487C9 !default;
$noncompetitor_active: #3F9ADB !default;
$spectator: yellow !default;
$spectator_hover: yellow !default;
$spectator_active: yellow !default;

// Color of the recommended-competitor-type
$recommended-color: lightblue !default;

// Focus buttons (what to do next)
$focus: #12AC50 !default;
$focus_hover: #4CD673 !default;
$focus_active: #5555ff !default;

$nonfocus: #266DA5 !default;
$nonfocus_hover: #3487C9 !default;
$nonfocus_active: #5555ff !default;
