// -----------------------------------
// Reset margin around all headers

@each $heading in 1 2 3 4 5 6 {
  h#{$heading} {
    margin: 0;
  }
}

body {
  margin: 0px;
  background-color: #fff;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  #font-size: 13px;
  position:relative
}

p, ol, ul, td {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.unpaid {
  color: red;
}

.unpaid,
.paid {
  font-weight: bolder;
}

// Not-logged-in Banner

.base_details {
  text-align: center;
  .title {
    font-size: 40px;
    padding: 20px;
  }
}

// Logged-in registrants#index banner
.event_title {
  font-size: 40px;
  padding: 20px;
}
