@use "default_colors";
@import "foundation";

// -----------------------------------------
/* Competitor */
// -----------------------------------------
.competitor {
  background-color: default_colors.$competitor;
}
.competitor:hover {
  background-color: default_colors.$competitor_hover;
}
.competitor:active {
  background-color: default_colors.$competitor_active;
}

// -----------------------------------------
/* Non Competitor */
// -----------------------------------------

.noncompetitor {
  background-color: default_colors.$noncompetitor;
}
.noncompetitor:hover {
  background-color: default_colors.$noncompetitor_hover;
}
.noncompetitor:active {
  background-color: default_colors.$noncompetitor_active;
}

// -----------------------------------------
/* Spectator */
// -----------------------------------------

.spectator {
  background-color: default_colors.$spectator;
}
.spectator:hover {
  background-color: default_colors.$spectator_hover;
}
.spectator:active {
  background-color: default_colors.$spectator_active;
}

// -----------------------------------------
/* Focus Buttons */
// -----------------------------------------
.focus_button:visited {
  background-color: default_colors.$focus;
  color: white;
}

.focus_button {
  @include button($background: default_colors.$focus, $background-hover: default_colors.$focus_hover); //(220px);
  margin: 10px;
  color: white;

  &:hover {
    color: white;
    text-decoration: none;
  }

  &:active {
    background-color: default_colors.$focus_active;
    border-color: #205f3c;
  }
}

.nonfocus_button:visited {
  background-color: white;
  color: default_colors.$nonfocus;
}

.nonfocus_button {
  @include button($background: white, $background-hover: white);
  margin: 10px;
  color: default_colors.$nonfocus;
  border: 1px solid default_colors.$nonfocus;

  &:hover {
    color: default_colors.$nonfocus_hover;
    border: 1px solid default_colors.$nonfocus_hover;
  }

  &:active {
    color: default_colors.$nonfocus_active;
    background-color: white;
    border: 1px solid default_colors.$nonfocus_active;
  }
}

// -----------------------------------------
/* Action Buttons */
// -----------------------------------------
.action_button {
  @include button($background: #12AC50, $background-hover: #4CD673);

  &:visited {
    color: black;
  }
}

.counter_action_button {
  @include button($background: #F1D6D6, $background-hover: #F16565);

  &:visited {
    color: black;
  }
}

.competitor_button {
  @include button($background: default_colors.$competitor, $background-hover: default_colors.$competitor_hover);

  &:active {
    background-color: default_colors.$competitor_active;
  }
}

.noncompetitor_button {
  @include button($background: default_colors.$noncompetitor, $background-hover: default_colors.$noncompetitor_hover);

  &:active {
    background-color: default_colors.$noncompetitor_active;
  }
}

.spectator_button {
  @include button($background: default_colors.$spectator, $background-hover: default_colors.$spectator_hover);

  &:active {
    background-color: default_colors.$spectator_active;
  }
}


%reg_link {
  text-decoration: none;
}

.competitor_link {
  @extend %reg_link;
}
.noncompetitor_link {
  @extend %reg_link;
}
.spectator_link {
  @extend %reg_link;
}

.competitor_link {
  color: default_colors.$competitor;
}
.competitor_link:visited {
  color: default_colors.$competitor;
}
.competitor_link:hover {
  color: default_colors.$competitor_hover;
}

.noncompetitor_link {
  color: default_colors.$noncompetitor;
}
.noncompetitor_link:hover {
  color: default_colors.$noncompetitor_hover;
}
.noncompetitor_link:visited {
  color: default_colors.$noncompetitor;
}

.incomplete, .incomplete:hover {
  @include button($background: #666);
  color: #ccc;
  box-shadow:none !important;
  cursor: no-drop;
}

.back_link {
  @include button($background: black, $background-hover: #383838);

  &:active {
    background-color: #282828;
  }
  &:before {
    content: '< '
  }
}

// Small Expense Item Buttons
%small_button {
  @include button;
  padding: 5px;
  font-size: 12px;
}

.free_item {
  @extend %small_button;
  color: white;
  background-color: default_colors.$free_item;

  &:hover {
    background-color: default_colors.$free_item_hover;
  }
  &:active {
    background-color: default_colors.$free_item_active;
  }
}

.delete {
  @extend %small_button;
  color: default_colors.$delete_item;
  background-color: white;
  border: 1px solid;

  &:hover {
    background-color: default_colors.$delete_item_hover;
    border-color: default_colors.$delete_item_hover;
    color: white;
  }
  &:active {
    background-color: default_colors.$delete_item_active;
    border-color: default_colors.$delete_item_active;
    color:white;
  }
}

.cost_item {
  @extend %small_button;
  color: white;
  background-color: default_colors.$cost_item;

  &:hover {
    background-color: default_colors.$cost_item_hover;
  }
  &:active {
    background-color: default_colors.$cost_item_active;
  }
}

// duplicate class name to increase specificity
.sold_out.sold_out, .sold_out:hover {
  @extend %small_button;
  color: black;
  opacity: 1; // override foundation styling of disabled
  box-shadow:none;
  cursor: no-drop;
}


.locked_competition_action {
  @include button($background: #5B99F5, $background-hover: #9AC0F8);
}

.registration_button {
  @include button; //(220px);
}

.registration_button:hover, .registration_button:focus {
  text-decoration: none;
}

.registrant {
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  padding: 3px;
}

.payment_link {
  @include button($background: default_colors.$payment, $background-hover: default_colors.$payment_hover); //(150px);
  color:white;
  &:visited {
    color: white;
  }

  &:active {
    background-color: default_colors.$payment_active;
  }
}

.print_waiver_link {
  @include button($background: default_colors.$payment, $background-hover: default_colors.$payment_hover); //(150px);
  color:white;
  &:visited {
    color: white;
  }

  &:active {
    background-color: default_colors.$payment_active;
  }
}
