// Events page

// We use JS to unhide the tabs before styling them with jqueryui.
#tabs {
  display: none;
}

#tabs {
  margin: 20px 0;
}

.ui-tabs-nav a:hover{
  color:#fff;
  background-color:#999;
}

.nexttab,
.prevtab {
  display: inline-block;
  width: 40%;
  padding: 10px;
}
.prevtab:hover {
  background-color: #999;
}


// Othes

.required:after {
  content: " *";
}

div.delete_link {
  text-align: right;
}

div.required {
  text-align: left;
}

.status_image {
  height: 20px;
}

.registration_closed {
  h2 {
    color: red
  }
  margin-bottom: 20px;
}

.music_help {
  text-decoration:none;
}

// LAYOUT
.volunteer_options {
  list-style: none;
  text-align: left;
}

#volunteer_opportunities .three_columns {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    li {
      padding-right: 10px;
    }
    @media only screen and (max-width: 800px) {
      columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
    }
  }

.sign_up_difference,
.rulebook_link {
  display: block;
  margin: 0 auto;
  clear:both;
  text-align: center;
  margin:5px 0 10px 0;
}

.registrations_box {
  margin: 20px 0;
  display: inline;
}

.prices_increase {
  font-size: 12px;
}

.payment_process {
}



.expense_items {
  td, th {
    font-size: 8pt;
  }
}

.data_block {
  h2 {
    background: lightgray;
  }
  display: inline-block;
  vertical-align: top;
  text-align: left;

  table tr td {
    &:first-child {
      text-align: right;
    }
  }
}
.field {
  line-height: 1.5;
}

div.data_block {
  text-align: center;
}

.data_group {
  .heading {
    font-weight: bold;
  }
}

.extra_info {
  text-align:center;
  font-size: 10px;
}


fieldset legend {
  text-align: center;
}

$header-bg: darkgray;
.form__fieldset {
  border: none;
  text-align: left;
  background: lightgray;
  padding: 0 10px;
  width: 400px;
  margin: auto;

  h3 {
    text-align: center;
    background-color: $header-bg;
    border-bottom: black 1px solid;
    margin: 0;
  }
}


input.ui-tooltip {
padding: 1px;

position:relative;
top: 0px;
max-width: 10000px;
box-shadow: none;
z-index:1;
}

.placeholder { color: #aaa; }

.edit_link_block {
  text-align: center;
}

#waiver_text_box {
  background-color: #eee;
  border: solid #333 1px;
  width: 800px;
  height: 200px;
  overflow: scroll;
  font-size:9pt;
}
