.registrant_header {
  .registrant_header__name {
    float: left;
  }
  .info_block {
    float: right;
    padding: 0 20px;
    margin: 0 5px;
  }
  .unpaid_warning {
    font-size: 20pt;
    font-weight: bold;
  }

  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

.registrant_summary {
  padding: 0;
  border-collapse: collapse;
}

.registrant_summary {
  fieldset {
    border: none;
  }
  table {
    width: 100%;
    thead th {
      text-decoration: underline;
    }
  }
  legend {
    width: 100%;
    background-color: lightgrey;
    font-weight: bold;
    font-size: 22px;
  }
  .registrant_summary_block {
    width: 30%;
    display: inline-block;
    vertical-align: top;
  }
  .registrant_expenses_block {
    display: inline-block;
    width: 25%;
    vertical-align: top;
  }
  .registrant_events_block {
    display: inline-block;
    width: 40%;
    vertical-align: top;
  }
}
.registrant_summary {
  .events_summary_table {
    text-align: left;
  }
  .event_heading {
    background: #f3f3f3;
    text-align: center;
    font-weight: bold;
  }
  table {
    td {
      padding: 1px;
    }
  }
}


.contact_detail_summary, .registrant_details_summary {
  b:after {
    content: ':';
  }

  p {
    margin: 0;
  }
}

.expenses {
  display: block;
}

.expense_items {
  td, th {
    font-size: 8pt;
  }
}

.edit_link_block {
  text-align: center;
}
