.unpaid_warning {
  font-size: 20pt;
  font-weight: bold;
}

.event_heading {
  background: #f3f3f3;
  text-align: center;
  font-weight: bold;
}

.contact_detail_summary, .registrant_details_summary {
  b:after {
    content: ':';
  }

  p {
    margin: 0;
  }
}

.expenses {
  display: block;
}

.expense_items {
  td, th {
    font-size: 8pt;
  }
}

.edit_link_block {
  text-align: center;
}

.unconfirmed_event {
  vertical-align: super;
  font-size: smaller;
}

.left-aligned {
  text-align: start
}
