#waiver_text_box {
  background-color: #eee;
  border: solid #333 1px;
  width: 800px;
  height: 200px;
  overflow: scroll;
  font-size:9pt;
}

hr {
  width: 100%;
}

.legal_minor {
  color: red;
}

.print_waiver_link, .print_waiver_link:visited {
  color: red
}


table {
  margin: 0 auto; // centers tables
}

table.alternate {
  td {
    padding: 0px 10px;
  }
}

table.alternate,
.competitor_sign_up table,
.non-competitor_sign_up table {
  border-collapse: collapse;
}

input[type="submit"] {
  cursor: pointer;
}
