hr {
  width: 100%;
}

.legal_minor {
  color: red;
}

.print_waiver_link, .print_waiver_link:visited {
  color: red
}


table {
  margin: 0 auto; // centers tables
}


table,
.competitor_sign_up table,
.non-competitor_sign_up table {
  border-collapse: collapse;
}

input[type="submit"] {
  cursor: pointer;
}

.feedback_resolved_row {
  color: lightgray;
}
