#waiver_text_box {
  background-color: #eee;
  border: solid #333 1px;
  width: 800px;
  height: 200px;
  overflow: scroll;
  font-size:9pt;
}

hr {
  width: 100%;
}

.external_link {
  color: blue;
}
.external_link:visited {
  color: blue;
}

.logo {
  height: 38px;
}
.logo_link {
  padding: 5px;
}

.base_details {
  list-style-type: none;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding-bottom: 10px;
}


.reg_period_update_warning {
  color: red;
  padding: 0 20px 10px;
  background: #FFE0E0;
}

h1.title {
  font-size: 40px;
  padding: 20px;
}


.legal_minor {
  color: red;
}

.print_waiver_link, .print_waiver_link:visited {
  color: red
}


table {
  margin: 0 auto; // centers tables
}

table.alternate {
  td {
    padding: 0px 10px;
  }
}

table.alternate,
.competitor_sign_up table,
.non-competitor_sign_up table {
  border-collapse: collapse;
}

input[type="submit"] {
  cursor: pointer;
}
