hr {
  width: 100%;
}

.legal_minor {
  color: red;
}

table {
  margin: 0 auto; // centers tables
}


table,
.competitor_sign_up table,
.non-competitor_sign_up table {
  border-collapse: collapse;
}

input[type="submit"] {
  cursor: pointer;
}

.feedback_resolved_row {
  color: lightgray;
}
