@use "07_dev_tools" as dev_tools;

.pricing_options {
  display: block;
  text-align: center;
  .pricing_option {
    width: 32%;
    display: inline-block;
    border: grey thick solid;
    @media only screen and (max-width: 1000px) {
      clear: both;
      width: 100%;
    }
    .current_price {
      font-size: 30px;
    }
    .price_note {
      font-size: 12px;
    }
    .price_details {
      padding: 0;
      list-style: none;
    }
    .highlighted {
      background-color: rgb(173, 230, 193);
    }
  }
  .recommended {
    border: dev_tools.$recommended-color thick solid;

    .recommended_title {
      background-color: dev_tools.$recommended-color;
      margin: 0;
    }
  }
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}
