.field_with_errors {
  display:inline;
  clear:none;
}

.field_with_errors label {
  display:inline-block;
  clear:none;
  padding: 2px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  border-radius: 4px;
}

#error_explanation {
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  border-radius: 4px;
  h2 {
    background-color:#f2dede;
  }
  ul li {
    font-size: 12px;
    list-style: none;
  }
}
