@use "default_colors";
@import "foundation";

.external_link,
.external_link:visited {
  color: default_colors.$external_link_color;
  &:hover {
    color: default_colors.$external_link_color_hover;
  }
}

.access_code_link {
  @include button($background: lightgreen, $background-hover: rgb(55, 230, 55)); //(160px);
  color: black;
}
