.external_link,
.external_link:visited {
  color: $external_link_color;
  &:hover {
    color: $external_link_color_hover;
  }
}

.access_code_link {
  @include button; //(160px);
  background-color: lightgreen;
  color: black;

  &:hover {
    background-color: rgb(55, 230, 55);
    color: black;
  }
}

.minor_link {
  text-decoration: none;
  color: grey;
}

.official_result_link {
  font-size: 20px;
  border: solid black thin;
  padding: 10px 10px;
  display: block;
  width: auto;
  text-align: center;
}
