// ---------------------------------
// Auto show/hide elements based on the parent class.
// ---------------------------------

// Example:
// If the parent element has .show_competitor_elements
//  then any children with .competitor_show will be 'display: block'

@each $type in competitor noncompetitor spectator {
  .#{$type}_show {
    display: none;
  }
  .show_#{$type}_elements {
    .#{$type}_show {
      display: block;
    }

    // This causes any .registration_button within .competitor_show_elements to extend .competitor styling
    // (and non-competitor, and spectators)
    .registration_button {
      @extend .#{$type};
    }
  }
}

.copy_choices {
  border: 1px grey solid;
  padding: 10px;
  margin-top: 30px;
}

.copy_choice--disabled {
  background-color: lightgrey;
}
