
$footer_height: 100px;

// http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page
html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#main {
   padding:10px;
   margin-bottom:-$footer_height;   /* Height of the footer */
   text-align: center;
   vertical-align: center;
   /* overflow: auto;*/
}
#main:after {
  content: "";
  display: table;
  clear: both;
}

#side_nav {
  text-align: left;
  float: left;
  width: 20%; /* matches with #side_content */
}
.sideNav__list {
  list-decoration: none;
}
#side_content {
  text-align: left;
  width: 80%; /* matches with #side_nav */
  float: right;
}

#bottom_nav, #main:after {
  height:$footer_height;
}

#bottom_nav {
   text-align: center;
   /* position:absolute; */
   bottom:0;
   width:100%;
   background: #eeeeee;
}

.choose_language {
  position: absolute;
  right: 0;
  padding: 0 10px;
  text-align: left;
  text-transform: uppercase;

  ul {
    list-style: none;
  }
}
