
// http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page
html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100vh;
   position:relative;
   display: flex;
   flex-direction: column;
}
#main_area {
  flex-grow: 1;
}
#main {
   padding:10px;
   text-align: center;
   vertical-align: center;
   /* overflow: auto;*/
}
#main:after {
  content: "";
  display: table;
  clear: both;
}

#side_nav {
  text-align: left;
  float: left;
  width: 20%; /* matches with #side_content */
}
.sideNav__list {
  list-style-type: none;
}
#side_content {
  text-align: left;
  width: 80%; /* matches with #side_nav */
  float: right;
}

#bottom_nav {
  text-align: left;
  background: #eeeeee;
  ul {
    list-style: none;
  }
}
.footer__list-header {
  margin-bottom: 10px;
}
.footer__list-separation {
  padding-top: 10px;
}

.footer__attribution {
  text-align: center;
}
