.js--sortable {
  thead {
    tr:first-child:after {
      content: '(sortable)';
      color: lightgrey;
    }
  }
  tbody {
    tr {
      cursor: row-resize;
    }
  }
}

.active-item-shadow {
  background-color: grey;
}
