.l--2up {
  .l--column {
    width: 50%;
    float: left;
  }
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}


.g-recaptcha {
  display: inline-block;
  vertical-align: top;
}
