.breadcrumbs {
  li {
    font-weight: 700;
    a, a:hover, a:visited {
      text-decoration: none;
      color: $breadcrumb-color;
    }
    display: inline-block;
  }

  @media print {
    display: none;
  }
}
