<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @combined_competition.name %>
</p>

<%= link_to 'Edit', edit_combined_competition_path(@combined_competition) %> |
<%= link_to 'Back', combined_competitions_path %>
