%h1 Upload Standard Skill Entries CSV file
= form_for :dump, :url=>{:controller=>"standard_skill_entries", :action=>"upload"}, :html => {:multipart=>true} do |f|
  = f.file_field :file
  = f.submit 'Submit'
= link_to 'Back', standard_skill_entries_path
