<h2>Preview</h2>
<% @categories = Category.all %>
<% @registrant = Registrant.new %>
<%= form_for setup_registrant_choices(@registrant) do |f| %>
  <% unless @categories.nil? %>
    <%= render :partial => "/attending/events", :locals => {:registrant => @registrant, :categories => @categories, :f => f } %>
  <% end %>
<% end %>
