%h2 Preview
- @categories = Category.load_for_form
- @registrant = Registrant.new
= simple_form_for setup_registrant_choices(@registrant), url: "#" do |f|
  - unless @categories.nil?
    = render :partial => "/attending/events", :locals => {:registrant => @registrant, :categories => @categories, :f => f }
