- unless standard_skill_routine.nil?
  - if policy(standard_skill_routine).show?
    = link_to t(".download"), standard_skill_routine_path(standard_skill_routine, format: :pdf), class: "button"
  - if policy(standard_skill_routine).writing_judge?
    = link_to t(".writing_judge_pdf"), writing_judge_standard_skill_routine_path(standard_skill_routine, format: :pdf), class: "button small"
  - if policy(standard_skill_routine).difficulty_judge?
    = link_to t(".difficulty_judge_pdf"), difficulty_judge_standard_skill_routine_path(standard_skill_routine, format: :pdf), class: "button small"
