%h1 All Standard Skill Routines
%table
  %thead
    %tr
      %th ID
      %th Registrant
      %th Standard Skill Routine created?
  %tbody
    - @registrants.each do |registrant|
      %tr
        %td= registrant.bib_number
        %td= link_to registrant, registrant
        %td
          - if registrant.standard_skill_routine.nil?
            No
          - else
            = link_to "Yes", standard_skill_routine_path(registrant.standard_skill_routine)
