%hr

%h4 Images
%p
  If you want to add images, you can upload them through
  = link_to "Add Images", convention_setup_page_images_path(@page)

%p
  Then you can add the images to this page by adding the URL of the image with
  an Image tag.
