-#- cache_i18n ['navbar', current_user, @config, Category, Competition] do
- if user_signed_in? && current_user.roles.any?
  %li.has-dropdown
    %a{ href: "#" } Admin Bar 1
    %ul.dropdown
      = render "nav_bar/admin_set_one"
  %li.has-dropdown
    %a{ href: "#" } Admin Bar 2
    %ul.dropdown
      = render "nav_bar/admin_set_two"
