- cache_i18n ['admin_bar', current_user, @config] do
  - if user_signed_in? && current_user.roles.any?
    %nav.top-bar.hide-for-small-only#admin_bar{ data: { topbar: true }, role: "navigation" }
      %section.top-bar-section
        %ul.left
          = render "nav_bar/admin_set_one"
        %ul.right
          %li.has-dropdown
            %a{ href: "#" } Advanced Admin Bar
            %ul.dropdown
              = render "nav_bar/admin_set_two"
