- cache_i18n ['admin_bar', current_user, @config] do
  - if user_signed_in? && current_user.roles.any?
    %nav.top-bar.hide-for-small-only#admin_bar{ data: { topbar: true }, role: "navigation" }
      .top-bar-left
        %ul.menu.horizontal
          = render "nav_bar/admin_set_one"
          %li
            %a{ href: "#", data: { toggle: "advanced_admin_bar_two advanced_admin_bar_three"} }= t(".advanced_admin_bar")
    %nav.top-bar.hide#advanced_admin_bar_two{ data: { toggler: "hide", topbar: true }, role: "navigation" }
      .top-bar-left
        %ul.menu.horizontal
          = render "nav_bar/admin_set_two"
    %nav.top-bar.hide#advanced_admin_bar_three{ data: { toggler: "hide", topbar: true }, role: "navigation" }
      .top-bar-left
        %ul.menu.horizontal
          = render "nav_bar/admin_set_three"
