- cache_i18n ['pages_bar', Page] do
  - if Page.ordinary.any?
    %nav.top-bar.hide-for-small-only{ data: { options: "is_hover: false", topbar: true }, role: "navigation" }
      .top-bar-left
        %ul.menu.horizontal.dropdown{ data: { dropdown_menu: true} }
          = render "nav_bar/pages"
