- cache_i18n ['pages_bar', Page] do
  - if Page.ordinary.any?
    %nav.top-bar#page_bar{ data: { options: "is_hover: false", topbar: true }, role: "navigation" }
      %section.top-bar-section
        %ul.left
          = render "nav_bar/pages"
