- cache_i18n ['pages_bar', Page] do
  - if Page.ordinary.any?
    .title-bar{ data: { responsive_toggle: "pages", hide_for: "large" } }
      .title-bar-title{ data: { toggle: true } }
        %a{ href: "#" }
          %button.menu-icon
          = "Pages"
    %nav.top-bar#pages
      .top-bar-left
        %ul.menu.horizontal{ data: { responsive_menu: "drilldown medium-dropdown" } }
          = render "nav_bar/pages"
