.title-bar{ data: { responsive_toggle: "responsive-menu", hide_for: "large" } }
  .title-bar-title{ data: { toggle: true } }
    %a{ href: "#" }
      %button.menu-icon
      = @config.short_name
      Menu
%nav.top-bar#responsive-menu
  .top-bar-left
    %ul.menu.vertical.large-horizontal
      = render "nav_bar/my_links"
  - if user_signed_in?
    .top-bar-right
      %ul.menu.horizontal
        %li= link_to t('.sign_out'), destroy_user_session_path, :method => :delete
