%nav.top-bar.hide-for-small-only{ data: { topbar: true }, role: "navigation" }
  - if EventConfiguration.configuration_exists?
    %ul.title-area
      %li.name
        %h1
          = render "nav_bar/logo"
  %section.top-bar-section
    %ul.left
      = render "nav_bar/my_links"
    %ul.right
      %li= link_to t('.sign_out'), destroy_user_session_path, :method => :delete

= render "nav_bar/admin_bar"
