.title_bar{ data: { hide_for: "medium", responsive_toggle: "main_menu" } }
  %button.menu-icon{ data: { toggle: true } } CLICK ME
  .title-bar-title Navigation Menu
%nav.top-bar#main_menu{ data: { topbar: true }, role: "navigation" }
  - if EventConfiguration.configuration_exists?
    .top-bar-title
      = render "nav_bar/logo"
  %div
    .top-bar-left
      %ul.menu.vertical.medium-horizontal
        = render "nav_bar/my_links"
    - if user_signed_in?
      .top-bar-right
        %ul.menu.vertical.medium-horizontal
          %li= link_to t('.sign_out'), destroy_user_session_path, :method => :delete
