%table.volunteers.sortable
  %thead
    %tr
      %th Volunteer Role
      %th Num Registrants
      %th Delete

  %tbody
    - @volunteer_opportunities.each do |vo|
      %tr
        %td= link_to vo.description, vo
        %td= vo.volunteer_choices.count
        %td= link_to "Delete", vo, method: :delete, data: { confirm: 'Are you sure? This will delete all registrant selections for this volunteer option' }

= link_to "New Volunteer Role", new_volunteer_opportunity_path
