
%h1 Volunteer: #{@volunteer_opportunity}

%h2 Signed-up

%table.volunteers.sortable
  %thead
    %tr
      %th Registrant

  %tbody
    - @volunteer_opportunity.volunteer_choices.each do |vc|
      %tr
        %td= vc.registrant

= link_to "Edit Opportunity", edit_volunteer_opportunity_path(@volunteer_opportunity)
