- if @config.usa_membership_config?
  .add_competitor
    %h3 Add Last-Minute Competitor
    - competitor = Competitor.new
    - competitor.members.build
    = simple_form_for(competitor, url: competition_competitors_path(competition), method: :post, remote: true) do |f|
      = f.fields_for :members do |m|
        = non_signed_up_registrant_select_box(m, competition)
      = f.button :submit, class: "multiclick tiny"
