- if @config.can_create_competitors_at_lane_assignment?
  .add_competitor
    %h3 Add Last-Minute Competitor
    - competitor = Competitor.new
    - competitor.members.build
    = simple_form_for(competitor, url: competition_competitors_path(competition), method: :post, remote: true) do |f|
      .row
        .small-8.columns
          = f.fields_for :members do |m|
            = non_signed_up_registrant_select_box(m, competition)
        .small-4.columns.text-left
          = f.button :submit, class: "multiclick tiny"
