<table>
  <thead>
    <tr>
      <th>Draggable</th>
      <th>Original Position</th>
      <th>Competitor</th>
    </tr>
  </thead>
  <tbody id="competitor-list" data-target="<%= sort_competition_path(@competition) %>" class="drag_drop_sortable">
    <% competitor_sort_list.competitors.order(:position).each do |f| %>
      <tr id="competitor_<%= f.id %>">
        <td class="handle" style="cursor: move">[DRAG]</td>
        <td><%= f.position %></td>
        <td><%= f.to_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr />
