<% if !competitor.new_record? %>
<tr>
    <td><%= competitor.position %></td>
    <td><%= competitor.external_id %></td>
    <td><%= competitor.name %></td>
    <td><%= link_to t('Destroy'), event_category_competitor_path(competitor.event_category, competitor), confirm: 'Are you sure?', method: :delete %></td>
</tr>
<% end %>
