//  If a score is present, displays the score for that competitor.
%tr
  - if score.nil?
    = render :partial => "/competitors/competitor_basic", :object => competitor
    = render :partial => "/scores/blank_score"
  - else
    = render :partial => "/scores/score_with_total", :object => score
  - if can? :create_scores, @judge.competition
    %td= link_to 'Set Score', new_judge_competitor_score_path(@judge, competitor), class: 'action_button'
