<h2>Upload Competitors List from CSV file</h2>

<p>In UCP - Freestyle Artistic - Individual Judging - Export to CSV</p>
<p>In UCP - Freestyle Artistic - Pairs Judging - Export to CSV</p>

<p>

<%= form_for :import, :url=>{:controller=>"competitors", :competition_id => @competition.id, :action=>"upload"}, :html => {:multipart=>true} do |f| -%>
<%= f.file_field :file -%>
<%= f.submit 'Submit' %>

<% end %>

</p>
