<h3><%= @competition.event %> - <%= @competition %></h3>

<%= render :partial => "/competitors/form", :object => @competitor %>

<div class="bottom-nav">
<%= link_to 'Back', event_path(@competition.event) %>
</div>
