#notice

%table.sortable
  %thead
    %tr
      %th ID
      %th Name
      %th Age
      %th Gender
      %th Country
      %th Details
      %th Action
      %th Best Time in thousands
  %tbody
    - @registrants.each do |registrant|
      %tr{ id: "best_time_#{registrant.id}" }
        = render "registrant_row", registrant: registrant, event: @event, event_category: @event_category
