<% if @registrant_best_time.errors.any? %>
  var errors = $("<ul />");
  <% @registrant_best_time.errors.full_messages.each do |error| %>
    errors.append('<li><%= escape_javascript( error ) %></li>');
  <% end %>

  // Display errors on form
  $('#notice').html($("<div id=\"error_explanation\" />").append(errors));


  $("#best_time_<%= @registrant_best_time.registrant_id %>").effect("highlight", {color: "red"}, 3000);
<% else %>
  $("#best_time_<%= @registrant_best_time.registrant_id %>").effect("highlight", {color: "green"}, 3000);
  $('#notice').html(""); // Clear the notices on success
<% end %>
