= form_tag stripe_post_url, method: :post do
  %script{ src: "https://checkout.stripe.com/checkout.js"
    class: "stripe-button"
    data: {
      key: @config.stripe_public_key,
      amount: @payment.total_amount.to_cents,
      name: @config.short_name,
      description: "Invoice #{payment.invoice_id}",
      currency: config.currency_code
      // data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      // locale: I18n.locale
    }
  }
