<h1>New payment</h1>
<script type="text/javascript">
    mixpanel.track("New Payment Page Loaded")
</script>

<div>
  The following records are going to be paid for:
</div>

<div class="payment_details">
  <%= render 'form' %>
</div>
<div>
  <%= link_to 'Back', registrants_path %>
</div>
