<h1>New payment</h1>
<% if mixpanel? %>
  <script type="text/javascript">
    mixpanel.track("New Payment Page Loaded")
  </script>
<% end %>

<div>
  <%= t(".select_the_items_to_pay_for") %>:
</div>

<div class="payment_details">
  <%= render '/payments/form' %>
</div>
<div>
  <%= link_to t('back'), registrants_path %>
</div>
