<h1>New payment</h1>

<div>
  <%= t(".select_the_items_to_pay_for") %>:
</div>

<div class="payment_details">
  <%= render '/payments/form' %>
</div>
<div>
  <%= link_to t('back'), user_registrants_path(current_user) %>
</div>
