
<h2>Payment Complete</h2>
Thank you for your payment. Your transaction has been completed, and a receipt for your purchase has been emailed to you.<br />
You may log into your account and choose "My Payments" to view details of this transaction.<br />
<br />

<%= link_to 'Back to My Registrations', root_url %>
