- # from http://stackoverflow.com/questions/15189937/activerecord-find-each-combined-with-limit-and-order
- # this is done this way so that we can reduce memory consumption of the loop
- # Essentially, this is a find_each which preserves order
- # but we also use `order_as_specified` (gem) in order to preserve the order internally
- ordered_registrant_ids = @registrants.pluck(:id)
- ordered_registrant_ids.in_groups_of(100).each do |registrant_ids|
  - registrants = Registrant.where(id: registrant_ids).order_as_specified(id: registrant_ids).includes(:contact_detail, :registrant_expense_items, :registrant_event_sign_ups)
  - registrants.each do |reg|
    - @registrant = reg
    = render :partial => "/registrants/show_single_registrant", formats: :pdf
    .page-break
