- if policy(current_user).manage_all_payments?
  - @groups = ExpenseGroup.admin_visible
- else
  - @groups = ExpenseGroup.visible

.new_expenses.row
  - @groups.includes(:expense_items).each do |expense_group|
    %fieldset.small-12.medium-6.large-4.columns
      %legend= t(".add", group_name: expense_group)
      %table
        - if expense_group.additional_info?
          %tr
            %td{:colspan => "3"}
              .event_link
                = link_to t(".info") + ' [' + expense_group.to_s + ']', additional_information_url(expense_group, I18n.locale), { target: "_blank", class: "external_link fancybox"}
        - expense_group.expense_items.each do |ei|
          - @registrant_expense_item = RegistrantExpenseItem.new(:expense_item => ei, :registrant => @registrant)
          = render :partial => "/registrant_expense_items/new_expense", :locals => { :item => ei, :show_as_free => @registrant.expense_item_is_free(ei) }
