-# locals: competition, bib_numbers_with_results
- competitors_without_results = competition.competitors.select{|competitor| !bib_numbers_with_results.include?(competitor.lowest_member_bib_number) }
%table.sortable
  %caption Competitors without Results
  %thead
    %tr
      %th ID
      %th Name
      %th Status
  %tbody
    - competitors_without_results.each do |competitor|
      %tr
        %td= competitor.bib_number
        %td= competitor
        %td= competitor.status
%hr
