- column_count_per_attempt = @competition.results_displayer.headings.count

%thead
  %tr
    %th{rowspan: "2"}
    %th{rowspan: "2"} Bib Number
    %th{rowspan: "2"} Competitor Name
    %th{rowspan: "2"} Competitor Exists?
    %th{rowspan: "2"}
    %th{colspan: column_count_per_attempt + 2} Attempt #1
    %th{colspan: column_count_per_attempt + 2} Attempt #2
    %th{colspan: "2"}
  %tr
    // Col-spans occupy this space
    = render "attempt_header"
    = render "attempt_header"
    // Edit and delete columns:
    %th
    %th
