
<% if @two_attempt_entry.errors.any? %>
  var errors = $("<ul />");
  <% @two_attempt_entry.errors.full_messages.each do |error| %>
    errors.append('<li><%= escape_javascript( error ) %></li>');
  <% end %>

  // Display errors on form
  $('#notice').html($("<div id=\"error_explanation\" />").append(errors));


<% else %>
  var new_row = $("<%= escape_javascript(render partial: 'two_attempt_entry', locals: {two_attempt_entry: @two_attempt_entry, two_attempt_entry_counter: nil }) %>")
  new_row.appendTo(".two_attempt_entries");
  new_row.effect("highlight", {}, 3000);
  $(".data_entry").trigger("reset");
  $(".js--autoFocus").trigger("chosen:updated");
  $(".js--autoFocus").trigger('chosen:activate');

  $('#notice').empty();
<% end %>
