
<% if @two_attempt_entry.errors.any? %>
  var errors = $("<ul />");
  <% @two_attempt_entry.errors.full_messages.each do |error| %>
    errors.append('<li><%= escape_javascript( error ) %></li>');
  <% end %>

  // Display errors on form
  $('#notice').html($("<div id=\"error_explanation\" />").append(errors));


<% else %>
  var new_row = $("<%= escape_javascript(render @two_attempt_entry) %>")
  new_row.appendTo(".two_attempt_entries");
  new_row.effect("highlight", {}, 3000);
  $(".data_entry").trigger("reset");
  $("#two_attempt_entry_bib_number").focus();

  $('#notice').empty();
<% end %>
