= form_tag(ineligible_registrants_path) do
  .row
    .small-12.medium-6.columns.text-right
      = label_tag(:registrant_id, "Registrant")
    .small-12.medium-6.columns
      = select_tag(:registrant_id, options_from_collection_for_select(@registrants, "id", "with_id_to_s"), class: 'chosen-select', include_blank: true)
  .row
    .small-12.columns
      = submit_tag "Mark as Ineligible", class: "button"

