= form_tag(ineligible_registrants_path) do
  = label_tag(:registrant_id, "Registrant")
  = select_tag(:registrant_id, options_from_collection_for_select(@registrants, "id", "with_id_to_s"), class: 'chosen-select', include_blank: true)
  = submit_tag "Mark as Ineligible"

