.invitation_New {
}

.invitation_Declined {
  background-color: lightpink;
}

.invitation_Accepted {
  background-color: lightgreen;
}

.invitation_capabilities {
  ul {
    text-align: left;
  }
  display: inline-block;
  vertical-align: top;
}

.invitations_details {
  div {
    border: thin black solid;
  }
}
.invitation_access_banner {
  background-color: rgb(243, 243, 25);
  border-radius: 8px;
  padding: 15px;
  margin: 20px;
}
.invitation_manage_banner {
  background-color: rgb(229, 235, 226);
  border-radius: 8px;
  padding: 15px;
  margin: 20px;
}
