.events {
  width: 100%;
  border: 1px #A0A0A0 solid;
  border-collapse: collapse;
}
.events tr {
  border: 1px #A0A0A0 solid;
}

.disabled_event {
  .event_choice {
    background-color: #A7A7A7;
  }
}

.event {
  text-align: left;
}
.event input[type='text'] {
  width: 140px;
}
.event_choice {
  padding-left: 20px;
}

.event_link {
  text-align: right;
  padding-bottom: 10px;
}
