// Place all the styles related to the attending controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events {
  width: 100%;
  border: 1px #A0A0A0 solid;
  border-collapse: collapse;
}
.events tr {
  border: 1px #A0A0A0 solid;
}

.disabled_event {
  .event_choice {
    background-color: #A7A7A7;
  }
}

.event {
  text-align: left;
}
.event input[type='text'] {
  width: 140px;
}
.event_choice {
  padding-left: 20px;
}

.event_link {
  text-align: right;
  padding-bottom: 10px;
}

.tabs {
  text-align:center;
}

.ui-tabs {
  margin: 20px 0;
}

.ui-tabs-nav a:hover{
  color:#fff;
  background-color:#999;
}

.nexttab,
.prevtab {
  display: inline-block;
  width: 40%;
  padding: 10px;
}
.prevtab:hover {
  background-color: #999;
}
