// Place all the styles related to the AwardLabels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.awards_submit {
  background-color: lightgreen;
}

.awards_delete {
  background-color: red;
}

.js--hiddenToggleMenu {
  cursor: pointer;
}

.award_labels {
  th, td {
    white-space: nowrap;
  }
}

table {
  .separator {
    background-color: black;
  }
}
