
.js--hiddenToggleMenu {
  cursor: pointer;
}

.award_labels {
  th, td {
    white-space: nowrap;
  }
}

table {
  .separator {
    // !important is necessary in order to override foundation styling
    background-color: black !important;
  }
}

.strike {
  text-decoration: line-through;
}
