.awards_submit {
  background-color: lightgreen;
}

.awards_delete {
  background-color: red;
}

.js--hiddenToggleMenu {
  cursor: pointer;
}

.award_labels {
  th, td {
    white-space: nowrap;
  }
}

table {
  .separator {
    background-color: black;
  }
}
