// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group {
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}
.configuration_settings_block {
  float: left;
}

.configuration_preview_block {
  float: right;
}

.configuration_new_entry_form {
  clear: both;
}

.category_form td:first-child {
  text-align: right;
}

.category_form td:first-child + td {
  text-align: left;
}

.category_form td.center {
  text-align: center;
}

.category_form td {
padding:0px;
}

table.category_form {
clear:none;
display:inline-block;
}
