.combined_competition_results {
  .combined_competition_results__male {
    display: inline-block;
    vertical-align: top;
  }
  .combined_competition_results__female {
    display: inline-block;
    vertical-align: top;
  }
}
