$recommended-color: lightblue;

.dev_banner {
  font-weight: bold;
  color: white;
  position: absolute;
  top: 216px;
  left: -164px;
  width: 350px;
  text-align: center;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
  background-color: red;
  z-index: 1000000;
}
#dev_banner_remover {
  float:right;
  clear:none;
  padding: 0px 50px 0 0;
  color:black;
  text-decoration:none;
}
.reg_access_banner {
  padding: 5px;
  text-align: center;
  background: lightgreen;
}

.current_access_key {
  background-color: yellow;
}
#test_mode_remover {
  float:right;
  clear:none;
  padding:10px;
  color:black;
  text-decoration:none;
}
.external_link {
  color: blue;
}
.external_link:visited {
  color: blue;
}

.logo {
  height: 38px;
}
.logo_link {
  padding: 5px;
}

.base_details {
  list-style-type: none;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding-bottom: 10px;
}

.test_mode {
  color: red;
  padding: 0 20px 10px;
  background: #FFE0E0;
}

.reg_period_update_warning {
  color: red;
  padding: 0 20px 10px;
  background: #FFE0E0;
}

h1.title {
  font-size: 40px;
  padding: 20px;
}

.notice {
  display:inline-block;
  clear:none;
  padding: 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.legal_minor {
  color: red;
}

.print_waiver_link, .print_waiver_link:visited {
  color: red
}

.alert {
  display:inline-block;
  clear:none;
  padding: 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

table {
  margin: 0 auto; // centers tables
}

table.alternate {
  td {
    padding: 0px 10px;
  }
}

table.alternate,
.competitor_sign_up table,
.non-competitor_sign_up table {
  border-collapse: collapse;
}

.pricing_options {
  display: block;
  .pricing_option {
    width: 32%;
    display: inline-block;
    border: grey thick solid;
    @media only screen and (max-width: 1000px) {
      clear: both;
      width: 100%;
    }
    .current_price {
      font-size: 30px;
    }
    .price_note {
      font-size: 12px;
    }
    .price_details {
      padding: 0;
      list-style: none;
    }
    .highlighted {
      background-color: rgb(173, 230, 193);
    }
  }
  .recommended {
    border: $recommended-color thick solid;

    .recommended_title {
      background-color: $recommended-color;
      margin: 0;
    }
  }
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

input[type="submit"] {
  cursor: pointer;
}
