.competitor_statuses {
  .active {
  }
  .not_qualified {
    background-color: lightgray !important;
  }
}

.locked_banner {
  position: absolute;
  opacity: 0.50;
  font-size: 14em;
  width: 100%;
  text-align: center;
  color: lightpink;
  z-index: -100;
}
