.competitor_statuses {
  .active {
  }
  .not_qualified {
    background-color: lightgray !important;
  }
}

.locked_banner {
  position: absolute;
  opacity: 0.50;
  font-size: 14em;
  width: 100%;
  text-align: center;
  color: lightpink;
  z-index: -100;
}

.sign_in_sheet {
  .bib_number {
    width: 10%;
  }
  .name {
    width: 10%;
  }
  .age {
    width: 5%;
  }
  .signed_in, .no_show {
    width: 7%;
  }
}
