.grid {
  td,table {
    border: 1px solid;
  }
  border-collapse: collapse;
}

.full {
  width: 100%;
}

.error {
  background-color: pink;
}

.sample_row {
  font-style: italic;
  color: grey;
  text-align: center;
}

.start_times {
  background-color: lightgreen;
}

.end_times {
  background-color: lightblue;
}


/* colors of various competition states */
.no_competitors {
  background-color: rgb(216, 226, 226);
}

.no_results {
  background-color: rgb(124, 238, 229);
}

.unawarded {
  background-color: rgb(101, 223, 155);
}

.awarded {
  background-color: green;
}
