.grid {
  td,table {
    border: 1px solid;
  }
  border-collapse: collapse;
}

// This should be shared somehow
@mixin button {
  text-decoration: none;
  border: none;
  display: inline-block;
  padding: 0px 15px;
  margin: 0px 10px;
  font-size: 18px;
  cursor: pointer;
}

.action_button {
  @include button;
  background-color: #12AC50;
}
.action_button:hover {
  background-color: #4CD673;
}

.full {
  width: 100%;
}

.error {
  background-color: pink;
}

.sample_row {
  font-style: italic;
  color: grey;
  text-align: center;
}

.start_times {
  background-color: lightgreen;
}

.end_times {
  background-color: lightblue;
}


/* colors of various competition states */
.no_competitors {
  background-color: rgb(216, 226, 226);
}

.no_results {
  background-color: rgb(124, 238, 229);
}

.unawarded {
  background-color: rgb(101, 223, 155);
}

.awarded {
  background-color: green;
}
