.grid {
  td,table {
    border: 1px solid;
  }
  border-collapse: collapse;
}

.full {
  width: 100%;
}

.error {
  background-color: pink;
}

.sample_row {
  font-style: italic;
  color: grey;
  text-align: center;
}

.start_times {
  background-color: lightgreen;
}

.end_times {
  background-color: lightblue;
}
