.competitor_statuses {
  .active {
  }
  .not_active {
    background-color: lightgray !important;
  }
}

.locked_banner {
  position: absolute;
  opacity: 0.50;
  font-size: 14em;
  width: 100%;
  text-align: center;
  color: lightpink;
  z-index: -100;
}

.sign_in_sheet {
  .bib_number {
    width: 10%;
  }
  .name {
    width: 10%;
  }
  .age {
    width: 5%;
  }
  .signed_in, .geared, .wheel_size {
    width: 5%;
  }
}

.sign_in_heat {
  width: 50px;
}
.sign_in_wheel_size,
.sign_in_crank_size {
  width: 75px;
}

.sign_in_notes {
  width: 200px;
}
