// Place all the styles related to the EventConfigurations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.config_fields {
  text-align: left;
}

.overflow_hidden {
  overflow:hidden;
  height:1.3em;
  max-width:500px;
  display:inline-block;
}
