// Place all the styles related to the ImportResults controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.data_import_submit {
  background-color: lightgreen;
  padding: 5px;
}

.data_import_delete {
  background-color: red;
}

.missing_data {
  background-color: red;
}
