.lane_assignment_entry_form {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.lane_assignment_entries {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.previous_heat {
  float: left;
}


.next_heat {
  float: right;
}
.next_action {
  background-color: lightgreen;
  display: block;
  padding: 20px;
}

.heat_number {
  color: blue;
}

.lane_assignments_list {
  .occupied_lane {
    display: inline-block;
    border-style: solid;
    vertical-align: top;
    width: 10%;
  }
  .unoccupied_lane {
    display: inline-block;
    border-style: solid;
    background-color: lightgrey;
    vertical-align: top;
    width: 10%;
  }
  .lane {
    font-weight: bold;
    font-size: 40pt;
    margin: 0;
    background-color: lightgrey;
  }
  .lane:before {
    content: 'lane';
    font-weight: normal;
    font-size: 10pt;
  }

  .bib_number {
    font-size: 30pt;
  }
  .registrant {
    font-size: 30pt;
  }
  .status-DQ {
    background-color: red;
    font-size: 40px;
  }
  .dq_option {
    display: none;
  }

  .unhide_dq {
    cursor: pointer;
    color: grey
  }
}

