
$background: rgb(40, 40, 40);
$backgroundhover: rgb(80, 80, 80);
$submenudivider: rgb(100, 100, 100);
$height: 50px;
$text: rgb(36, 130, 181);
$texthover: rgb(255, 255, 255);


nav {
  .logo {
    vertical-align: middle;
  }
  li#sign-out {
    float: right;
    a {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  ul {
    li.hovered {
      background: $backgroundhover;
      > a {
        color: $texthover;
      }
    }
    ul {
      display: none;
      z-index: 100;
      overflow: visible;
      position: absolute;
      left: 0;
    }
    ul.hovered, ul.current_page {
      width: auto;
      display: block;
      background-color: white;
      color: $text;
      font-size: 10px;
      a {
        padding: ($height/4) 10px;
      }
    }
    ul.current_page {
      z-index: 50;
    }
    li {
      ul {
        text-align: center;
        max-width: 800px;
      }
      display: inline-block;
      a, a:visited {
        display: block;
        padding: ($height/3) 20px;
        color: $text;
        text-decoration: none;
      }
      a.current_page {
        color: red;
        background: $backgroundhover;
        color: $texthover;
      }
    }
    background: $background;
    width: 100%;
    padding: 0;
    margin: 0px;
    list-style: none;
    position: relative;
    display: inline-table;
    font-size: 14px;
    max-height: $height;
  }
  ul:after {
    content: ""; 
    clear: both; 
    display: block;
  }
  display: block;
  height: $height * 2;
}

