// Place all the styles related to the Payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.payment_details {
  display: inline-block;
}

.payments th {
padding: 0 10px;
}
