@import "foundation/components/grid";
// This would make the large grid function like a print grid
@media print {

  fieldset {
    padding: 0 0 0 0;
    border: 0;
  }

  .non_printable {
    display: none;
  }
  .calc_needed {
    display: none;
  }
}

table.recording_form {
  border-collapse: collapse;
  width: 100%;
  tr {
    td {
      border: solid 1px black;

      .separator {
        background-color: lightgrey;
      }
    }
  }
  height: 100%;
}

body.pdf_body {
  div.body {
    height: 100%;
  }
  table {
    margin: 0px;
    width: 100%;

    th, td {
      padding: 0px 10px;
    }
  }
}

.heading_left {
  float: left;
  text-align: left;
  ul {
    list-style: none;
    font-size: 20px;
  }
  width: 50%;
}

.heading_right {
  float: left;
  text-align: left;
  ul {
    list-style: none;
    font-size: 20px;
  }
  width: 50%;
}

.race_recording {
  h1, h2 {
    margin: 0px
  }
}
.age_group_description {
  float: left;
}
.age_group_gender {
  float: right;
}

table.race {
  .heat_entry, .lane_entry {
    width: 12.5%;
  }
  .id {
    width: 12.5%;
    max-width: 12.5%;
  }
  .name, .time {
    width: 25%;
    max-width: 25%;
  }
  .separator {
    width: 1%;
  }
  .dq {
    width: 7%;
  }
  .notes {
    width: 30%;
  }

  .not_signed_up {
    font-style: italic;
  }
  td {
    height: 24px;
    font-size: 20px;
  }
}

table.results {
  border-collapse: collapse;
  .id {
    width: 10%;
  }
  .name {
    width: 30%;
  }
  .time {
    width: 25%;
    font-weight: bold;
  }
  .details {
    width: 25%;
    font-size: 9pt;
  }
  .place {
    width: 10%;
    font-weight: bold;
  }
  td {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
  }

  td {
    height: 24px;
    font-size: 20px;
  }
  th {
    text-align: left;
  }
}
.nobreak {
  page-break-inside: avoid;
}
.age_group_separator {
  margin-top: 70px;
  height: 0px;
}

// PDF-specific stylings
.pdf_body {
  .l--3up {
    .l--column {
      display: inline-block;
      width: 33%;
    }
  }

  .l--2up {
    .l--column {
      display: inline-table;
      width: 49%;
    }
  }

  hr {
    margin-top: 0;
  }

  fieldset {
    padding: 0 0 0 0;
    border: 0;
    margin: 0;
    width: 100%;
  }

  .non_printable {
    display: none;
  }

  table {
    th, td {
      line-height: 1 !important;
      padding: 3px 6px !important;
    }
  }
}
