// Place all the styles related to the RegistrationPeriods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.current_reg_period {
  background-color: lightgreen;
}

.past_reg_period {
  text-decoration: line-through;
}

.registration_period_block {
  display: inline-block;
  vertical-align: top;
  text-align: left;

  table {
    border-collapse: collapse;
  }
  td {
    padding: 0 5px;
  }
}

.registration_closes_notice {
  text-align: center;
  color: red;
  font-size: 15px;
  font-weight: bold;
}
