.current_reg_period {
  background-color: lightgreen;
}

.past_reg_period {
  text-decoration: line-through;
}

.registration_closes_notice {
  text-align: center;
  color: red;
  font-size: 15px;
  font-weight: bold;
}
