// Place all the styles related to the registrants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// STYLING
$competitor: #12AC50;
$competitor_hover: #4CD673;
$noncompetitor: #266DA5;
$noncompetitor_hover: #3487C9;

.competitor {
  background-color: $competitor;
}
.competitor:hover {
  background-color: $competitor_hover;
}
.competitor:active {
  background-color: #55ff55;
}

.reg_already_paid {
  background-color: red;
}

.competitor_link {
  text-decoration: none;
  color: $competitor;
}
.competitor_link:visited {
  color: $competitor;
}
.noncompetitor_link {
  text-decoration: none;
  color: $noncompetitor;
}
.noncompetitor_link:visited {
  color: $noncompetitor;
}

.noncompetitor {
  background-color: $noncompetitor;
}
.noncompetitor:hover {
  background-color: $noncompetitor_hover;
}
.noncompetitor:active {
  background-color: #5555ff;
}

.payment_link,
input.delete,
input.sold_out {
  background-color: #AC2B2B;
}
.payment_link:hover,
input.delete:hover,
input.sold_out:hover {
  background-color: #D61414;
}
.payment_link:active,,
input.delete:active,
input.sold_out:active {
  background-color: #A01A1A;
}

input.delete,
input.sold_out {
  border: none;
}

.competitor, .noncompetitor, .payment_link,
input.delete, input.sold_out {
  color: white;
  text-decoration: none;
}
.competitor:visited, .noncompetitor:visited, .payment_link:visited {
  color: white;
}

.required:after {
  content: " *";
}

div.delete_link {
  text-align: right;
}

div.required {
  text-align: left;
}

.free_item {
  background-color: yellow;
}


.status_image {
  height: 20px;
}

.registration_closed {
  h2 {
    color: red
  }
  margin-bottom: 20px;
}


// LAYOUT
.registration_sign_up{
  
}

.competitor_sign_up,
.non-competitor_sign_up {
  display: inline-block;
  margin: 0;
  width:50%;
  a {
    margin-right: 7%;
    margin-left: 7%;
  }
}
.sign_up_difference,
.rulebook_link {
  display: block;
  margin: 0 auto;
  clear:both;
  text-align: center;
  margin:5px 0 10px 0;
}

.competitor_sign_up {
  text-align: right;
}

.non-competitor_sign_up {
  text-align: left;
}

// http://www.usabilitypost.com/2012/01/10/pressed-button-state-with-css3/
@mixin button($width) {
  text-decoration: none;
  border: none;
  display: inline-block;
  min-width:$width;
  padding: 10px 15px;
  margin: 5px 10px;
  font-size: 18px;
  cursor: pointer;

}
.registration_button {
  @include button(220px);
  margin-bottom:10px;
  text-align:center;
}
.registration_button:hover, .registration_button:focus {
  text-decoration: none;
}

.registrations_box {
  margin: 20px 0;
  display: inline;
}

.registrant {
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  padding: 3px;
}

.registrant_summary {
  padding: 0;
  border-collapse: collapse;

  .shared_registrant {
    background-color: rgb(238, 236, 236);
  }
}
.registrant_edit_button {
  @include button(auto);
}

.payment_link {
  @include button(150px);
}

.unpaid {
  color: red;
}

.paid {
  color: darkgreen;
}

.prices_increase {
  font-size: 12px;
}

.payment_process {
}

.event_summary fieldset.data_block {
  .event_heading {
    background: lightgray;
    text-align: center;
    font-weight: bold;
  }
  table {
    td {
      padding: 1px;
    }
  }
}
.data_block {
  h2 {
    background: lightgray;
  }
  fieldset > span {
    display: block;
  }
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
div.data_block {
  text-align: center;
}

.data_group {
  .heading {
    font-weight: bold;
  }
}

.extra_info {
  text-align:center;
  font-size: 10px;
}

fieldset legend {
  text-align: center;
}

input.ui-tooltip {
padding: 1px;

position:relative;
top: 0px;
max-width: 10000px;
box-shadow: none;
z-index:1;
}

.placeholder { color: #aaa; }

.edit_link_block {
  text-align: center;
}

#waiver_text_box {
  background-color: #eee;
  border: solid #333 1px;
  width: 800px;
  height: 200px;
  overflow: scroll;
  font-size:9pt;
}
