.tied {
  background-color: yellow;
}

.judging {
  .competitor_name {
    width: 10%
  }
  .judging_category {
    width: 15%
  }
}

.scores {
  .right_edge {
    border-right: black thin solid;
  }

  .judge_type_header {
    background-color: lightgrey;
  }
}
