// Place all the styles related to the time_results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.competitor_exists {
  background-color: green;
  color: white;
}

.competitor_other_comp_exists {
  background-color: yellow;
}

.competitor_not_exists {
  background-color: pink;
}


.results_delete {
  background-color: red;
}

