
.access_code_link {
  background-color: lightgreen;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
}

.access_code_link:hover {
  color: black;
  background-color: rgb(55, 230, 55);
  padding: 10px;
  text-decoration: none;
}

.help_text {
  text-align: left;
}

.judgedCompetition {
  color: grey;
  font-style: italic;
}

.volunteer_options {
  list-style: none;
}
