%h1 Upgrade my account to a convention administrator account

= form_tag admin_upgrades_path do
  .row
    .small-6.columns
      = label_tag :access_code, "Admin Upgrade Access code"
    .small-6.columns
      = text_field_tag :access_code
  .row
    = submit_tag "Upgrade my account", class: "button"
