
%h1 USA Membership Management

= link_to "Export Details (excel)", usa_memberships_export_path(format: :xls)

%ul
  %li To update the USA number, click on the user's name
  %li If this person has paid via club/etc, and you can confirm it via USA membership data, ensure that the USA number is up-to-date, and the choose "Mark as Confirmed"
  %li If this person is part of a family who registered online, add them to the family via "Mark as family member"

%table.usa_memberships.sortable
  %thead
    %tr
      %th ID
      %th USA Membership#
      %th First Name
      %th Last Name
      %th Age
      %th Birthday
      %th City
      %th State
      %th Country
      %th Paid USA Individual?
      %th Paid USA Family?
      %th Mark Externally Confirmed
      %th Mark internally Family member

  %tbody
    - cache [Registrant, @config] do
      - Registrant.includes(:contact_detail => [:usa_family_membership_holder]).active.each do |reg|
        = render partial: "member_row", object: reg
