%h1 Download Payments

= link_to "Export Payments", payments_export_payments_path, method: :put
%br
= link_to "Export Payment Details", payment_details_export_payments_path, method: :put
%br
= link_to "Download Registrants", export_download_all_registrants_path
%br
= link_to "Download Registration Summaries", export_download_summaries_path
