// Place all the styles related to the additional_registrant_accesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
