/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.dev_banner {
  font-weight: bold;
  color: white;
  position: fixed;
  top: 80px;
  left: -70px;
  width: 350px;
  text-align: center;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  background-color: red;
  z-index: 1000000;
}
#dev_banner_remover {
float:right;
clear:none;
padding:10px 50px 0 0;
color:black;
text-decoration:none;
}
.external_link {
  color: blue;
}
.external_link:visited {
  color: blue;
}

.logo {
  height: 38px;
}
.logo_link {
  padding: 5px;
}

.base_details ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.top_nav {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
  overflow: auto;
}

.test_mode {
  color: red;
  padding-bottom: 10px;
  background: #FFE0E0;
}

.bottom_nav {
  text-align: center;
}

.main_nav {
  text-align: center;
}

.notice {
  display:inline;
  clear:none;
  padding: 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.legal_minor {
  color: red;
}

.waiver_link, .waiver_link:visited {
  color: red
}

.alert {
  display:inline;
  clear:none;
  padding: 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

table {
  margin: 0 auto; // centers tables
}

table.alternate {
  td {
    padding: 0px 10px;
  }
}

table.alternate,
.competitor_sign_up table,
.non-competitor_sign_up table { 
  border-collapse: collapse;
}
