/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.dev_banner {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: red;
  font-size: 20px;
  text-align: center;
  z-index: 100;
}
.external_link {
  color: blue;
}
.external_link:visited {
  color: blue;
}

.logo {
  height: 38px;
}
.logo_link {
  padding: 5px;
}

.base_details ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.top_nav {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
  overflow: auto;
}

.test_mode {
  color: red;
  padding-bottom: 10px;
  background: #FFE0E0;
}

.bottom_nav {
  text-align: center;
}

.main_nav {
  text-align: center;
}

.notice {
  color: green;
}

.legal_minor {
  color: red;
}

.waiver_link, .waiver_link:visited {
  color: red
}

.alert {
  color: red;
  background-color: #CBF1CB;
}

table {
  margin: 0 auto; // centers tables
}

table.alternate {
  td {
    padding: 0px 10px;
  }
}

table.alternate,
.competitor_sign_up table,
.non-competitor_sign_up table { 
  border-collapse: collapse;
}
