// Place all the styles related to the attending controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event {
  text-align: left;
}
.event input[type='text'] {
  width: 140px;
}
.event_choices {
  border: 1px #A0A0A0 solid;
  margin-top: -1px; // merge with previous line
}
.event_choice {
  display: inline-block;
  min-width: 275px;
}

.event_link {
  text-align: right;
  padding-bottom: 10px;
}

.tabs {
  text-align:center;
  }
.nexttab,
.prevtab {
  display: inline-block;
  width: 40%;
  padding: 10px;
}
.nexttab:hover,
.prevtab:hover {
}
