/*
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 *= require application
 *= require_self
 */

// Buttons are blue
// Competitors are green

// Import default colors
@import "new_styles/default_hue_variables";
// Import default styles
@import "new_styles/default_colors";

$background: rgb(18, 172, 80);
$backgroundgrad: rgb(76, 214, 115);
$backgroundhover: rgb(85, 209, 105);
$backgroundhovergrad: rgb(34, 233, 66);
$submenudivider: rgb(18, 172, 80);
$text: rgb(0, 0, 0);
$texthover: rgb(255, 255, 255);

// Import all other styles
@import "new_styles_list";
