/*
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 *= require application
 *= require_self
 */

// Competitor: Blue
// NonCompetitor: Purple
// Spectator: Green

// Import default colors
@import "new_styles/default_hue_variables";

// Overwrite colors
// using HSL values (as per http://demosthenes.info/blog/61/An-Easy-Guide-To-HSL-Color-In-CSS3)

$comp_hue: 219;
$noncomp_hue: 271;
$spec_hue: 180;

$focus_hue: 217;
$nonfocus_hue: 217;

// Import default styles
@import "new_styles/default_colors";

$reg_current_period_color: red;
$reg_current_period_bg_color: white;
$reg_closes_color: black;

// Import all other styles
@import "new_styles_list";
