/*
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 *= require application
 *= require_self
 */

// Competitor: Blue
//  on-hover: Pink

// Import default colors
@use "new_styles/default_hue_variables";

// Overwrite colors
$unicon-pink: rgb(219, 71, 128);
$unicon-pink-active: rgb(240, 80, 128);
$unicon-blue: rgb(36, 130, 181);

// Import default styles
@use "new_styles/default_colors";

default_colors.$competitor: $unicon-blue;
default_colors.$noncompetitor: $unicon-blue;
default_colors.$competitor_hover: $unicon-pink;
default_colors.$noncompetitor_hover: $unicon-pink;
default_colors.$competitor_active: $unicon-pink-active;
default_colors.$noncompetitor_active: $unicon-pink-active;

default_colors.$focus: $unicon-blue;
default_colors.$focus_hover: $unicon-pink;
default_colors.$focus_active: $unicon-pink-active;

default_colors.$nonfocus: #266DA5;
default_colors.$nonfocus_hover: #3487C9;
default_colors.$nonfocus_active: #5555ff;

default_colors.$reg_current_period_color: $unicon-pink;
default_colors.$reg_current_period_bg_color: #fff;

default_colors.$external_link_color_hover: $unicon-pink;

@use "new_styles_list";
