/*
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 *= require application
 *= require_self
 */

// Buttons are blue
// Competitors are green

// Import default colors
@use "new_styles/default_hue_variables";
// Import default styles
@use "new_styles/default_colors";

default_colors.$background: rgb(18, 172, 80);
$backgroundgrad: rgb(76, 214, 115);
default_colors.$backgroundhover: rgb(85, 209, 105);
$backgroundhovergrad: rgb(34, 233, 66);
default_colors.$submenudivider: rgb(18, 172, 80);
default_colors.$text: rgb(0, 0, 0);
default_colors.$texthover: rgb(255, 255, 255);

// Import all other styles
@use "new_styles_list";
