// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.configuration_settings_block {
  float: left;
}

.configuration_preview_block {
  float: right;
}

.configuration_new_entry_form {
  clear: both;
}
