/*
 * This is a manifest file that'll be compiled into unicon_17.css, which will include all the files
 * listed below incluing all common styles.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * Add NAUCC 2014 specific styles here. They will override common styles.
 *
 *= require application
 *= require_self
 */

$background: rgb(40, 40, 40);
$backgroundsub: rgb(40, 40, 40);
$backgroundhover: rgb(102, 102, 102);
$submenudivider: rgb(120, 120, 120);
$text: rgb(255, 255, 255);
$texthover: rgb(255, 255, 255);

@import "navbar/navbar";

$unicon-pink: rgb(102, 255, 255);
$unicon-pink-active: rgb(0, 255, 255);
$unicon-blue: rgb(0, 0, 0);

$red: rgb(255, 0, 0);
$red-hover: rgb(255, 0, 0);
$red-active: rgb(220, 0, 0);

@import "new_styles/00_colors";

// Overwrite colors
// using HSL values (as per http://demosthenes.info/blog/61/An-Easy-Guide-To-HSL-Color-In-CSS3)
$background: hsl(219, 50%, 50%);

$comp_hsl: 219;
$competitor: hsl($comp_hsl, 50%, 50%);
$competitor_hover: hsl($comp_hsl, 85%, 50%);
$competitor_active: hsl($comp_hsl, 30%, 50%);
$noncomp_hsl: 271;
$noncompetitor: hsl($noncomp_hsl, 50%, 50%);
$noncompetitor_hover: hsl($noncomp_hsl, 85%, 50%);
$noncompetitor_active: hsl($noncomp_hsl, 30%, 50%);

$spec_hsl: 60;
$spectator: hsl($spec_hsl, 50%, 50%);
$spectator_hover: hsl($spec_hsl, 85%, 50%);
$spectator_active: hsl($spec_hsl, 30%, 50%);

$focus_hsl: 219;
$focus: hsl($focus_hsl, 50%, 50%);
$focus_hover: hsl($focus_hsl, 85%, 50%);
$focus_active: hsl($focus_hsl, 30%, 50%);

$nonfocus: #266DA5;
$nonfocus_hover: #3487C9;
$nonfocus_active: #5555ff;

@import "new_styles/breadcrumbs";
@import "new_styles/02_buttons";
@import "new_styles/03_forms";
@import "new_styles/04_summary";
@import "new_styles/05_wizard";
@import "new_styles/06_misc";
@import "new_styles/07_dev_tools";
@import "new_styles/08_pricing";
@import "new_styles/09_form_errors";
@import "new_styles/10_text";

.current_reg_period {
  background-color: #fff;
  color: $red;
  font-weight: bolder;
}

.registration_closes_notice {
  height: 40px;
  vertical-align: bottom;
  color: black;
}

.unpaid,
.paid {
  font-weight: bolder;
}

.external_link,
.external_link:visited {
  color: blue;
}
.external_link:hover {
  color: $red;
}

.base_details .title {
  font-size: 40px;
  padding: 20px;
}

input.free_item {
  border: none;
  color: white;
  background-color: $unicon-pink;
}

input.cost_item {
  border: none;
  color: white;
  background-color: $unicon-blue;
}

input.cost_item:hover {
  background-color: $unicon-pink;
  color:black;
}

input.free_item:active,
input.cost_item:active,
input.free_item:hover {
  background-color: $unicon-pink-active;
  color:black;
}

.payment_link,
input.delete,
input.sold_out {
  background-color: $red;
}
.payment_link:hover,
input.delete:hover,
input.sold_out:hover {
  background-color:$red-hover;
  color:black;
}
.payment_link:active,,
input.delete:active,
input.sold_out:active {
  background-color: $red-active;
}
