/*
 * This is a manifest file that'll be compiled into naucc_2013.css, which will include all the files
 * listed below incluing all common styles.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * Add NAUCC 2013 specific styles here. They will override common styles.
 *
 *= require application
 *= require_self
 */


$background: rgb(18, 172, 80);
$backgroundgrad: rgb(76, 214, 115);
$backgroundhover: rgb(85, 209, 105);
$backgroundhovergrad: rgb(34, 233, 66);
$submenudivider: rgb(18, 172, 80);
$text: rgb(0, 0, 0);
$texthover: rgb(255, 255, 255);

@import "navbar/navbar";


@import "new_styles/00_colors";

@import "new_styles_list";
