/*
 * This is a manifest file that'll be compiled into unicon_17.css, which will include all the files
 * listed below incluing all common styles.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * Add NAUCC 2014 specific styles here. They will override common styles.
 *
 *= require application
 *= require_self
 */

$background: rgb(40, 40, 40);
$backgroundsub: rgb(40, 40, 40);
$backgroundhover: rgb(102, 102, 102);
$submenudivider: rgb(120, 120, 120);
$text: rgb(255, 255, 255);
$texthover: rgb(255, 255, 255);

$unicon-pink: rgb(102, 255, 255);
$unicon-pink-active: rgb(0, 255, 255);
$unicon-blue: rgb(0, 0, 0);

$red_hue: 0;
$payment: hsl($red_hue, 50%, 50%);
$payment_hover: hsl($red_hue, 85%, 50%);
$payment_active: hsl($red_hue, 30%, 50%);

// Overwrite colors
// using HSL values (as per http://demosthenes.info/blog/61/An-Easy-Guide-To-HSL-Color-In-CSS3)

$comp_hue: 219;
$competitor: hsl($comp_hue, 50%, 50%);
$competitor_hover: hsl($comp_hue, 85%, 50%);
$competitor_active: hsl($comp_hue, 30%, 50%);
$noncomp_hue: 271;
$noncompetitor: hsl($noncomp_hue, 50%, 50%);
$noncompetitor_hover: hsl($noncomp_hue, 85%, 50%);
$noncompetitor_active: hsl($noncomp_hue, 30%, 50%);

$spec_hue: 180;
$spectator: hsl($spec_hue, 50%, 50%);
$spectator_hover: hsl($spec_hue, 85%, 50%);
$spectator_active: hsl($spec_hue, 30%, 50%);

$focus_hue: 217;
$focus: hsl($focus_hue, 50%, 50%);
$focus_hover: hsl($focus_hue, 85%, 50%);
$focus_active: hsl($focus_hue, 30%, 50%);

$nonfocus_hue: 217;
$nonfocus: hsl($nonfocus_hue, 80%, 45%);
$nonfocus_hover: hsl($nonfocus_hue, 80%, 65%);
$nonfocus_active: hsl($nonfocus_hue, 80%, 40%);

$reg_current_period_color: red;
$reg_current_period_bg_color: #fff;
$reg_closes_color: black;

$external_link_color: blue;
$external_link_color_hover: blue;

@import "new_styles_list";
