/*
 * This is a manifest file for all of new_styles/*
 */
@import "new_styles/01_text";
@import "new_styles/02_buttons";
@import "new_styles/03_forms";
@import "new_styles/04_summary";
@import "new_styles/06_misc";
@import "new_styles/07_dev_tools";
@import "new_styles/08_pricing";
@import "new_styles/09_form_errors";
@import "new_styles/10_links";
@import "new_styles/11_registrant_choices";
@import "new_styles/12_banners";
@import "new_styles/14_footer";
@import "new_styles/15_navbar";
@import "new_styles/16_registration_periods";
@import "new_styles/17_waiver";
@import "new_styles/18_lists";
@import "new_styles/19_tables";
@import "new_styles/20_layout";
@import "new_styles/21_scoring.scss";
@import "new_styles/22_uni_memberships.scss";
@import "new_styles/23_visibility.scss";
@import "new_styles/24_screenshots.scss";
