/*
 * This is a manifest file for all of new_styles/*
 */
@use "new_styles/01_text" as text;
@use "new_styles/02_buttons" as buttons;
@use "new_styles/03_forms" as forms;
@use "new_styles/04_summary" as summary;
@use "new_styles/06_misc" as misc;
@use "new_styles/07_dev_tools" as dev_tools;
@use "new_styles/08_pricing" as pricing;
@use "new_styles/09_form_errors" as form_errors;
@use "new_styles/10_links" as links;
@use "new_styles/11_registrant_choices" as registrant_choices;
@use "new_styles/12_banners" as banners;
@use "new_styles/13_admin_access" as admin_access;
@use "new_styles/14_footer" as footer;
@use "new_styles/15_navbar" as navbar;
@use "new_styles/16_registration_periods" as registration_periods;
@use "new_styles/17_waiver" as waiver;
@use "new_styles/18_lists" as lists;
@use "new_styles/19_tables" as tables;
@use "new_styles/20_layout" as layout;
@use "new_styles/21_scoring" as scoring;
@use "new_styles/22_uni_memberships" as uni_memberships;
@use "new_styles/23_visibility" as visibility;
@use "new_styles/24_screenshots" as screenshots;
@use "new_styles/25_progress_wizard" as progress_wizard;
