/*
 * This is a manifest file for all of common/*
 */
@use "common/additional_registrant_accesses";
@use "common/attending";
@use "common/award_labels";
@use "common/combined_competitions";
@use "common/competitions";
@use "common/competitors";
@use "common/distance_attempts";
@use "common/event_configurations";
@use "common/events";
@use "common/import_results";
@use "common/judges";
@use "common/lane_assignment";
@use "common/payments";
@use "common/printing";
@use "common/scores";
@use "common/time_results";
@use "common/two_attempt_entry";
@use "common/welcome";
@use "common/admin/payments" as payments2;
