/*
 * This is a manifest file that'll be compiled into pdf.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
.page-break { display:block; clear:both; page-break-after:always; }
@media all
{
  /* this allows the pdf to render the font, since 'Open Sans' doesn't seem to work */
  body, p, ol, ul, td {
    font-family: sans-serif;
  }
  .alert-box {
    display: none;
  }

  .edit_link_block {
    display: none;
  }
  .non_printable {
    display: none;
  }

  td {
    border-bottom: black thin solid;
  }
}
