table.recording_form {
  border-collapse: collapse;
  width: 100%;
  tr {
    td {
      border: solid 1px black;

      .separator {
        background-color: lightgrey;
      }
    }
  }
  height: 100%;
}

body.pdf_body {
  height: 800px;
  div.body {
    height: 100%;
  }
}

.heading_left {
  float: left;
  ul {
    list-style: none;
    font-size: 20px;
  }
  width: 50%;
}

.heading_right {
  float: left;
  ul {
    list-style: none;
    font-size: 20px;
  }
  width: 50%;
}

.race_recording {
  h1, h2 {
    margin: 0px
  }
}
.age_group_description {
  float: left;
}
.age_group_gender {
  float: right;
}

table.race {
  .heat_entry, .lane_entry {
    width: 12.5%;
  }
  .id {
    width: 12.5%;
    text-align: center;
  }
  .name {
    min-width: 25%;
  }
  .dq {
    width: 7%;
  }
  .notes {
    width: 30%;
  }

  .not_signed_up {
    font-style: italic;
  }
  td {
    height: 24px;
    font-size: 20px;
  }
}

table.results {
  border-collapse: collapse;
  .id {
    width: 10%;
  }
  .name {
    width: 40%;
  }
  .time {
    width: 40%;
    font-weight: bold;
  }
  .place {
    width: 10%;
  }
  td {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
  }

  td {
    height: 24px;
    font-size: 20px;
  }
}
.nobreak {
  page-break-inside: avoid;
}
.age_group_separator {
  margin-top: 70px;
  background-color: black;
  height: 5px;
}
