// Place all the styles related to the registrants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.data_block {
  h2 {
    background: lightgray;
  }
  fieldset > span {
    display: block;
  }
}

.data_group {
  .heading {
    font-weight: bold
  }
}
