// Place all the styles related to the registrants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// STYLING
$competitor: #12AC50;
$competitor_hover: #4CD673;
$noncompetitor: #266DA5;
$noncompetitor_hover: #3487C9;

.competitor {
  background-color: $competitor;
  border-color: #208d74;
}
.competitor:hover {
  background-color: $competitor_hover;
  border-color: #0d7733;
}
.competitor:active {
  background-color: #55ff55;
  border-color: #205f3c;
}

.noncompetitor {
  background-color: $noncompetitor;
  border-color: #2F7BB6;
}
.noncompetitor:hover {
  background-color: $noncompetitor_hover;
  border-color: #3C607C;
}
.noncompetitor:active {
  background-color: #5555ff;
  border-color: #17466B;
}

.payment_link {
  background-color: #AC2B2B;
}
.payment_link:hover {
  background-color: #D61414;
}
.payment_link:active {
  background-color: #A01A1A;
}

a.competitor, a.noncompetitor, a.payment_link {
  color: white;
  text-decoration: none;
}
a.competitor:visited, a.noncompetitor:visited, a.payment_link:visited {
  color: white;
}

.fee:before {
  content: '$';
}

.required:after {
  content: " *";
}


.status_image {
  height: 20px;
}



// LAYOUT
.registration_sign_up {
  text-align: center;
  a {
    margin-right: 7%;
    margin-left: 7%;
    margin-top: 21px;
  }
}

// http://www.usabilitypost.com/2012/01/10/pressed-button-state-with-css3/
.registration_button {
  text-decoration: none;
  display: inline-block;
  width: 220px;
  padding: 10px 15px;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: solid 1px;

  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);

  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;

  //text-align: center;
  //border-bottom-left-radius: 11px;
  //border-bottom-right-radius: 11px;
  //border-top-left-radius: 11px;
  //border-top-right-radius: 11px;
}
.registration_button:hover, .registration_button:focus {
  border: solid 1px;
  text-decoration: none;
}
.registration_button:active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  border: solid 1px;
}

.registrations_box {
  margin-top: 20px;
  display: inline-block;
}

.registrant {
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  padding: 3px;
}

.payment_link {
  width: 150px;
  display: inline-block;
  padding: 10px;
  text-decoration: none;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: solid 1px;

  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);

  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.payment_process {
  width: 100px;
}

.data_block {
  h2 {
    background: lightgray;
  }
  fieldset > span {
    display: block;
  }
  display: inline-block;
  vertical-align: top;
}

.data_group {
  .heading {
    font-weight: bold
  }
}
