// Place all the styles related to the registrants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// STYLING
.competitor {
  background-color: green;
}

.noncompetitor {
  background-color: blue;
}
.payment_process {
  background-color: yellow;
}

.competitor, .noncompetitor {
  a {
    color: white;
    text-decoration: none;
    font-size: 22px;
  }
  a:visited {
    color: white;
  }
}

.fee:before {
  content: '$';
}
.status_image {
  height: 20px;
}



// LAYOUT
.registration_sign_up {
  text-align: center;

  .registration_button {
    a {
      height: 60px;
      display: block;
      padding-top: 30px; // makes the text start in the center
    }
    //text-align: center;
    display: inline-block;
    width: 320px;
    text-align: center;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
  }
}
.registrations_box {
  display: inline-block;
}

.payment_process {
  a {
    display: block;
    height: 40px;
  }
  display: inline-block;
  width: 100px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

.data_block {
  h2 {
    background: lightgray;
  }
  fieldset > span {
    display: block;
  }
  display: inline-block;
}

.data_group {
  .heading {
    font-weight: bold
  }
}
