// Place all the styles related to the registrants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// STYLING
$competitor: #12AC50;
$competitor_hover: #4CD673;
$noncompetitor: #266DA5;
$noncompetitor_hover: #3487C9;

.competitor {
  background-color: $competitor;
  border-color: #208d74;
}
.competitor:hover {
  background-color: $competitor_hover;
  border-color: #0d7733;
}
.competitor:active {
  background-color: #55ff55;
  border-color: #205f3c;
}

.competitor_link {
  text-decoration: none;
  color: $competitor;
}
.competitor_link:visited {
  color: $competitor;
}
.noncompetitor_link {
  text-decoration: none;
  color: $noncompetitor;
}
.noncompetitor_link:visited {
  color: $noncompetitor;
}

.noncompetitor {
  background-color: $noncompetitor;
  border-color: #2F7BB6;
}
.noncompetitor:hover {
  background-color: $noncompetitor_hover;
  border-color: #3C607C;
}
.noncompetitor:active {
  background-color: #5555ff;
  border-color: #17466B;
}

.payment_link {
  background-color: #AC2B2B;
}
.payment_link:hover {
  background-color: #D61414;
}
.payment_link:active {
  background-color: #A01A1A;
}

.competitor, .noncompetitor, .payment_link {
  color: white;
  text-decoration: none;
}
.competitor:visited, .noncompetitor:visited, .payment_link:visited {
  color: white;
}

.required:after {
  content: " *";
}

div.delete_link {
  text-align: right;
}

div.required {
  text-align: left;
}


.status_image {
  height: 20px;
}

.registration_closed {
  h2 {
    color: red
  }
}


// LAYOUT
.registration_sign_up{
  
}

.competitor_sign_up,
.non-competitor_sign_up {
  display: inline-block;
  margin: 0;
  width:50%;
  a {
    margin-right: 7%;
    margin-left: 7%;
  }
}
.sign_up_difference {
  display: block;
  margin: 0 auto;
  clear:both;
  text-align: center;
  margin:5px 0 10px 0;
}

.competitor_sign_up {
  text-align: right;
}

.non-competitor_sign_up {
  text-align: left;
}

// http://www.usabilitypost.com/2012/01/10/pressed-button-state-with-css3/
@mixin button($width) {
  text-decoration: none;
  display: inline-block;
  min-width:$width;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: solid 1px;

  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);

  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;

  //text-align: center;
  //border-bottom-left-radius: 11px;
  //border-bottom-right-radius: 11px;
  //border-top-left-radius: 11px;
  //border-top-right-radius: 11px;
}
.registration_button {
  @include button(220px);
  margin-bottom:10px;
  text-align:center;
}
.registration_button:hover, .registration_button:focus {
  border: solid 1px;
  text-decoration: none;
}
.registration_button:active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  border: solid 1px;
}

.registrations_box {
  margin: 20px 0;
  display: inline;
}

.registrant {
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  padding: 3px;
}

.registrant_summary {
  padding: 0;
  border-collapse: collapse;

  .shared_registrant {
    background-color: rgb(238, 236, 236);
  }
}
.registrant_edit_button {
  @include button(auto);
}

.payment_link {
  @include button(150px);
}

.unpaid {
  color: red;
}

.paid {
  color: darkgreen;
}

.prices_increase {
  font-size: 12px;
}

.payment_process {
}

.event_summary fieldset.data_block {
  width: 400px;
}
.data_block {
  h2 {
    background: lightgray;
  }
  fieldset > span {
    display: block;
  }
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
div.data_block {
  text-align: center;
}

.data_group {
  .heading {
    font-weight: bold;
  }
}

.extra_info {
  text-align:center;
  font-size: 10px;
}

fieldset legend {
  text-align: center;
}

input.ui-tooltip {
padding: 1px;

position:relative;
top: 0px;
max-width: 10000px;
box-shadow: none;
z-index:1;
}

.edit_link_block {
  text-align: center;
}
