/*
 * This is a manifest file that'll be compiled into unicon_17.css, which will include all the files
 * listed below incluing all common styles.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * Add Unicon 17 specific styles here. They will override common styles.
 *
 *= require_self
 */

$background: rgb(40, 40, 40);
$backgroundgrad: rgb(40, 40, 40);
$backgroundhover: rgb(80, 80, 80);
$backgroundhovergrad: rgb(80, 80, 80);
$submenudivider: rgb(100, 100, 100);
$text: rgb(36, 130, 181);
$texthover: rgb(255, 255, 255);

nav ul {
  background: $background; 
  background: linear-gradient(top, $background 0%, $backgroundgrad 100%);  
  background: -moz-linear-gradient(top, $background 0%, $backgroundgrad 100%); 
  background: -webkit-linear-gradient(top, $background 0%, $backgroundgrad 100%); 
  box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
}
    nav ul li:hover {
      background: $backgroundhover;
      background: linear-gradient(top, $backgroundhover 0%, $backgroundhovergrad 40%);
      background: -moz-linear-gradient(top, $backgroundhover 0%, $backgroundhovergrad 40%);
      background: -webkit-linear-gradient(top, $backgroundhover 0%, $backgroundhovergrad 40%);
    }
      nav ul li:hover a {
        background: $backgroundhover;
        color: $texthover;
      }

  nav ul li:hover a.logo_link {
    background: $background; 
    background: linear-gradient(top, $background 0%, $backgroundgrad 100%);  
    background: -moz-linear-gradient(top, $background 0%, $backgroundgrad 100%); 
    background: -webkit-linear-gradient(top, $background 0%, $backgroundgrad 100%); 
    
    }

    nav ul li a,
    nav ul li a:visited {
      color: $text;
    }
      
    
  nav ul ul {
    background: $backgroundgrad;
  }
    nav ul ul li {
      background: $background;
      border-top: 1px solid $submenudivider;
    }
      nav ul ul li a,
      nav ul ul li a:visited,
      nav ul li:hover ul li a {
        background: $background;
        color: $text;
      } 
        nav ul ul li a:hover,
        nav ul li:hover ul li a:hover {
          background: $backgroundhover;
          color: $texthover;
        }