/*
 * This is a manifest file that'll be compiled into unicon_17.css, which will include all the files
 * listed below incluing all common styles.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * Add Unicon 17 specific styles here. They will override common styles.
 *
 *= require_self
 *= require font-kit-rails
 */

$background: rgb(40, 40, 40);
$backgroundsub: rgb(40, 40, 40);
$backgroundhover: rgb(102, 102, 102);
$submenudivider: rgb(120, 120, 120);
$text: rgb(255, 255, 255);
$texthover: rgb(255, 255, 255);

nav ul {
  background: $background; 
}
    nav ul li:hover {
      background: $backgroundhover;
    }
      nav ul li:hover a {
        background: $backgroundhover;
        color: $texthover;
      }

  nav ul li:hover a.logo_link {
    background: $background;     
    }

    nav ul li a,
    nav ul li a:visited {
      color: $text;
    }
      
    
  nav ul ul {
    background: $backgroundsub;
    width: auto;  
  }
    nav ul ul li {
      background: $background;
      border-top: 1px solid $submenudivider;
    }
      nav ul ul li a,
      nav ul ul li a:visited,
      nav ul li:hover ul li a {
        background: $background;
        color: $text;
      } 
        nav ul ul li a:hover,
        nav ul li:hover ul li a:hover {
          background: $backgroundhover;
          color: $texthover;
        }


.ui-tabs .ui-tabs-nav li a, .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
min-width: 70px;
}

.competitor,
.noncompetitor {
background-color: rgb(36, 130, 181);
}

.competitor:hover,
.noncompetitor:hover {
background-color: rgb(219, 71, 128);
}

.competitor:active,
.noncompetitor:active {
background-color: rgb(230, 79, 138);
}

.competitor_link,
.competitor_link:visited,
.noncompetitor_link,
.noncompetitor_link:visited {
  color: black;
  text-decoration: underline;
}
.competitor_link:hover,
.noncompetitor_link:hover {
  color: rgb(219, 71, 128);
}

.current_reg_period {
  background-color: #fff;
  color: rgb(219, 71, 128);
  font-weight: bolder;
}

.registration_closes_notice {
  height: 40px;
  vertical-align: bottom;
  color: black;
}

.sign_up_difference {
  display: block;
  margin: 0 auto;
  clear:both;
  text-align: center;
  margin:5px 0 10px 0;
}

.unpaid,
.paid {
  color: black;
  font-weight: bolder;
}