// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// STYLING
$focus: #12AC50;
$focus_hover: #4CD673;
$nonfocus: #266DA5;
$nonfocus_hover: #3487C9;

// http://www.usabilitypost.com/2012/01/10/pressed-button-state-with-css3/
@mixin button($width) {
  text-decoration: none;
  display: inline-block;
  min-width:$width;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: solid 1px;

  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);

  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;

  //text-align: center;
  //border-bottom-left-radius: 11px;
  //border-bottom-right-radius: 11px;
  //border-top-left-radius: 11px;
  //border-top-right-radius: 11px;
}

.focus_button:visited, .nonfocus_button:visited {
  color: black;
}
.focus_button {
  @include button(220px);
  margin: 10px;
  background-color: $focus;
  border-color: #208d74;
}
a.focus_button, a.nonfocus_button {
  padding: 10px 0px;
}

.focus_button:hover, .registration_button:focus {
  color: white;
  border: solid 1px;
  text-decoration: none;
  background-color: $focus_hover;
  border-color: #0d7733;
}
.focus_button:active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  border: solid 1px;
  background-color: #55ff55;
  border-color: #205f3c;

}


.nonfocus_button {
  @include button(220px);
  margin: 5px;
  background-color: $nonfocus;
  border-color: #2F7BB6;
}
.nonfocus_button:hover {
  color: white;
  border: solid 1px;
  text-decoration: none;
  background-color: $nonfocus_hover;
  border-color: #3C607C;
}
.nonfocus_button:active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  border: solid 1px;
  background-color: #5555ff;
  border-color: #17466B;

}

.help_text {
  text-align: left;
}
