%table.top_distance_attempts
  %caption #{title}
  %thead
    %tr
      %th Distance
      %th Fault
      %th ID
      %th Competitor
      %th Gender
      %th Age
      - if display_delete
        %th
  %tbody
    - list.each do |da|
      = render partial: "attempt", object: da, locals: {display_delete: display_delete }
