<br />
<br />
<% unless competitor_attempts.empty? %>
  <table border="1" class="distance_attempts">
    <caption><%= competitor_attempts.first.competitor %>'s attempts</caption>
    <thead>
      <th>Distance (cm)</th>
      <th>Fault</th>
      <th>Remove</th>
    </thead>
    <tbody>
      <%= render :partial => "attempt", :collection => competitor_attempts %>
    </tbody>
  </table>
<% end %>
