.row
  %fieldset
    %legend
      %h2 Competitor Lookup
    = form_tag(competitor_details_judge_distance_attempts_path(@judge), method: :get, remote: true) do
      = no_form_competitor_select_box(@competition)
      = submit_tag 'Lookup', class: "multiclick button"
