%br
%br
- unless competitor_attempts.empty?
  %table.distance_attempts{:border => "1"}
    %caption
      = competitor_attempts.first.competitor
      's attempts
    %thead
      %th Distance (cm)
      %th Fault
      %th Remove
      %tbody
        = render :partial => "attempt", :collection => competitor_attempts, locals: { display_delete: false }
