%h1= "#{@competition} - #{DistanceAttempt.model_name.human(count: 2)}"

- unless @distance_attempts.empty?
  = render "attempt_list", title: "All Distance Attempts", list: @distance_attempts, display_delete: true, additional_classes: "sortable searchable"
