<p>Welcome <a href="#" style="color:#000000; text-decoration:none;"><%= @resource.email %></a> to the Unicycling Registration!</p>

<p>You can confirm your account email through the link below:</p>
<p><%= link_to 'Confirm my account', user_confirmation_url(@resource, :confirmation_token => @token) %></p>
