%h1= "#{@competition.award_title_name} #{@competition.award_subtitle_name} Results"
%hr
= render partial: "/printing/competitions/age_group_results", locals: { age_group_entry: @ag_entry, competition: @competition }
