.row
  .small-12.columns
    %p
      It is the
      = link_to "Unicycling Society of America", "http://uniusa.org/"
      by which we have insurance and the ability to host events at a low cost
      to attendees.
    %p
      In order to register for this convention as a Competitor or Non-Competitor,
      you must be an active member of the
      = link_to "Unicycling Society of America", "http://uniusa.org/"
      \.
    %p
      During Registration, your membership will be checked against the
      = link_to "USA Membership Database", "https://unicyclingsocietyofamerica.wildapricot.org/join-us"
      to confirm that your membership is currently valid. We will check it again before the first day of competition, to ensure that your membership has not lapsed. The displayed User ID is the "User ID" of the membership database.

    %p
      %b All Competitors and Non-Competitors must be current USA Members.

    %p
      %b Current
      is defined as "having a valid membership as of the first day of competition".

    %p
      You must have a valid USA Membership before you are able to pick up your
      registration packet
      %u (and before you can compete).

    %p
      If you believe that your USA Membership status is incorrect, please
      = link_to "Send feedback", new_feedback_path
      to the convention organizers.
