%h2 Shared Translations.

%p You can also translate many other pieces of information which are shared by ALL of the registration systems

%b Please be cautious when making translations here, as they will affect not only YOUR convention, but ALL conventions.

%br
= link_to "Text Translation System", tolk_path, class: "focus_button", target: "_blank"

%p
  Once you are done translation, you should press the "Apply Changes" button in the "Text Translation System" in order to apply the changes to the site.

%p
  %b Note
  Some changes may not be reflected immediately due to the caching system. (I'm working on figuring out how to improve this)

%p
  %b Note
  Please only "Apply Changes" when you are done, because it can has performance implications.
