%h3 Some parts should be left un-translated:

.translation_examples
  %div
    Example:
    %pre
      \---
      one: Contact Detail
      other: Contact Details

    Should become:
    %pre
      \---
      one: Kontakt Detail
      other: Kontakt Details
  %hr
  %div
    Example:
    %pre
      \---
      \- :month
      \- :day
      \- :year

    should become:
    %pre
      \---
      \- :month
      \- :day
      \- :year

  %hr
  %div
    Example:
    %pre
      Welcome %{email} to the Unicycling Registration!

    Should become:
    %pre
      Wilkommen %{email} zur Einrad Anmeldung!
