%h1 Translate the system configuration

%p From this page, you can adjust the translation of various Convention-specific elements

%p
  %b Note:
  You cannot translate the website text from this page, that is only possible through the code.

%hr

%ul
  %li= link_to "Event Configuration", edit_translations_event_configuration_path
  %li= link_to "Categories", translations_categories_path
