%h1 Cache Management

%ul
  %li= link_to "Clear Cache", clear_cache_event_configuration_path, method: :delete, data: { confirm: "This will clear all data cache" }
  %li= link_to "Clear Counter Cache", clear_counter_cache_event_configuration_path, method: :delete, data: { confirm: "This will clear counter caches" }
