%h1 Create Sample Competition data

%p
  This controller will create a competition of the specified type in the <b>First event</b>
  found.

- if Event.exists?
  %b Please create an Event using the normal method before using this sample data generator

- else
  = form_tag url: sample_data_competitions_path, method: :post do
    .row
      .small-12.medium-6.column
        = label_tag :competition_type
        = select_tag :competition_type, options_for_select(Competition.scoring_classes), include_blank: true
    .row
      .small-12.medium-6.columns
        = submit_tag "Create Sample Competition", class: "button"
