%br
%table.standard_skill_routine_judging_table
  %thead
    %tr
      %th{ colspan: 3 } Colors Legend (how short-time is the skill)
  %tbody
    %tr
      %th Normal Speed
      %th.standard_skill_row--medium Medium Speed (short)
      %th.standard_skill_row--fast Fast Speed (very short)
