%h2 Add Member
= simple_form_for(RegistrantGroupMember.new, url: registrant_group_registrant_group_members_path(@registrant_group)) do |f|
  .field
    = f.label :registrant_id, "Member"
    %br
    = f.select :registrant_id, Registrant.select_box_options, {include_blank: true}, class: 'chosen-select'
  %br
  .actions
    = f.button :submit
