<h1>Registrant Groups</h1>
<hr />

<% @registrant_groups.each do |rg| %>
  <h2><%= rg.name %> - <%= rg.contact_person %></h2>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Member Name</th>
      </tr>
    </thead>
    <tbody>
      <% rg.registrant_group_members.each do |registrant_group_member| %>
        <tr>
          <td><%= registrant_group_member.registrant.bib_number %></td>
          <td><%= registrant_group_member.registrant %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr />
<% end %>
