
%h1 Copy Event Settings from #{@source_tenant}

= form_tag(migrate_create_events_path(tenant: @source_tenant.subdomain), method: :post) do
  %ul
    - @events.each do |event|
      %li= event

  = submit_tag
