%h1 Copy Categories and Events from another Convention

%p
  Copies events from a different Convention into the current convention.
  %br
  After copying the events, you should go through all the settings pages to ensure that all URLs, options, and references are still correct.

%h2 Step 1: Choose Convention

%ul
  - @tenants.each do |tenant|
    %li= link_to tenant.subdomain, migrate_events_path(tenant: tenant.subdomain)
