- if user_signed_in? && current_user.has_role?(:super_admin) && !RegistrationPeriod.update_checked_recently
  .alert-box.alert.top_banner{ data: { alert: true } }
    No Registration-Period update has occurred in the past 3 days. Please check your scheduler.

- if Rails.application.secrets.development_banner
  .alert-box.success.top_banner{ data: { alert: true } }
    Non-Live System.
    %a.close{ href: "#" } &times;
- if allow_reg_modifications?
  .alert-box.info.top_banner{ data: { alert: true } }
    = t('.registration_system_access_notice')
