- if user_signed_in? && current_user.has_role?(:super_admin) && !RegistrationCost.update_checked_recently?
  .alert-box.callout.alert.top_banner
    No Registration-Period update has occurred in the past 3 days. Please check your scheduler.

- if Rails.env.stage?
  .alert-box.callout.success.top_banner{ data: { closable: true } }
    Non-Live System. Emails are not sent from this system. Payments are not possible from this system.
    %a.close-button{ data: { close: true }, href: "#" } &times;
- if allow_reg_modifications?
  .alert-box.callout.secondary.top_banner
    = t('.registration_system_access_notice')
