<% if !current_user.nil? and  @config.test_mode %>
  <div class="test_mode">
    <a id="test_mode_remover" href="#" class="banner_remover" data-banner-class="test_mode" title="Remove test banner">[x]</a>
    <h2>Test Mode Enabled</h2>
    <span>Current User Roles: <%= current_user.roles.map{|role| role.name.humanize}.join(", ") %></span>
    <br />
    <% User.roles.each do |role| %>
      <%= link_to "Make me #{role.to_s.humanize}", test_mode_role_event_configurations_path(role: role), :method => :post %><br />
    <% end %>
  </div>
<% end %>
