!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title Unicycling Registration
    / include all of the normal Style
    = wicked_pdf_stylesheet_link_tag    "base_blue_purple"
    / Include the pdf style, to override some of the existing style
    = wicked_pdf_stylesheet_link_tag    "pdf"
    :css
      .non_printable {
        display: none;
      }
  %body.pdf_body
    - if Rails.env.stage?
      .alert-box.callout.alert.top_banner
        Non-Live System.
    .body
      = yield
