<!DOCTYPE html>
<html>
<head>
  <title>Unicycling Registration</title>
  <%= wicked_pdf_stylesheet_link_tag    "pdf", :media => "all" %>
</head>
<body onload='number_pages'>
  <% if ENV['DEVELOPMENT_BANNER'].nil? or ENV['DEVELOPMENT_BANNER'] == "true" %>
    <div class="dev_banner">
      Non-Live System.
    </div>
  <% end %>
  <div class="body">
    <%= yield %>
  </div>
</body>
</html>
