<!DOCTYPE html>
<html>
<head>
  <title>Unicycling Registration</title>
  <!-- include all of the normal Style -->
  <%= wicked_pdf_stylesheet_link_tag    "application" %>
  <!-- Include the pdf style, to override some of the existing style -->
  <%= wicked_pdf_stylesheet_link_tag    "pdf" %>
  <style>
    .non_printable {
      display: none;
    }
  </style>
</head>
<body class="pdf_body" onload='number_pages'>
  <% if ENV['DEVELOPMENT_BANNER'].nil? or ENV['DEVELOPMENT_BANNER'] == "true" %>
    <div class="dev_banner">
      Non-Live System.
    </div>
  <% end %>
  <div class="body">
    <%= yield %>
  </div>
</body>
</html>
