<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Unicycling Registration</title>
  <!-- include all of the normal Style -->
  <%= wicked_pdf_stylesheet_link_tag    "naucc_2014" %>
  <!-- Include the pdf style, to override some of the existing style -->
  <%= wicked_pdf_stylesheet_link_tag    "pdf" %>
  <style>
    .non_printable {
      display: none;
    }
  </style>
</head>
<body class="pdf_body" onload='number_pages'>
  <% if Rails.application.secrets.development_banner %>
    <div class="dev_banner">
      Non-Live System.
    </div>
  <% end %>
  <div class="body">
    <%= yield %>
  </div>
</body>
</html>
